In [2]:
import numpy as np
import pandas as pd

# Task 0
Read the dataset from csv file & perform data cleaning - remove all rows, which contains `?` in some columns.
Also check for data correctness (salary & salary $K).

In [155]:
# write your code for task 0 here
data_set = pd.read_csv("../data/adult.csv")
data_set = data_set.replace("?", np.nan)
data_set = data_set.dropna()

check_salary_less_50K = data_set[(data_set["salary"] == "<=50K") & (data_set["salary K$"] <= 50)]
check_salary_more_50K = data_set[(data_set["salary"] == ">50K") & (data_set["salary K$"] >= 50)]

cleaned_data_set = pd.concat([check_salary_less_50K, check_salary_more_50K])
cleaned_data_set

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
0,0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K,39
1,1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K,35
2,2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K,27
3,3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K,43
4,4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32538,32538,38,Private,Bachelors,Divorced,Prof-specialty,Unmarried,Black,Female,45,United-States,>50K,248
32545,32545,39,Local-gov,Assoc-acdm,Married-civ-spouse,Adm-clerical,Wife,White,Female,20,United-States,>50K,122
32554,32554,53,Private,Masters,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,>50K,103
32557,32557,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K,173
32560,32560,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K,243

# Task 1
Print the count of men and women in the dataset.

In [113]:
# write your code for task 1 here
gender_counts = cleaned_data_set["sex"].value_counts()
gender_counts

sex
Male      20380
Female     9782
Name: count, dtype: int64

# Task 2
Find the average age of men in dataset

In [114]:
# write your code for task 2 here
male_data = cleaned_data_set[cleaned_data_set["sex"] == "Male"]
avg_male_age = male_data["age"].mean()
avg_male_age

np.float64(39.18400392541707)

# Task 3
Get the percentage of people from Poland (native-country)

In [115]:
# write your code for task 3 here
polish_people = cleaned_data_set[cleaned_data_set["native-country"] == "Poland"].shape[0]
all_people = cleaned_data_set["native-country"].shape[0]

polish_percentage = (polish_people / all_people) * 100
polish_percentage

0.18566408063125786

# Task 4
Get the mean and standard deviation of the age for people who earn > 50K per year. After this, get it for those who earn <= 50K.

In [176]:
# write your code for task 4 here

mean_age_more_50k = cleaned_data_set[cleaned_data_set["salary"] == ">50K"]["age"].mean()
mean_age_less_50k = cleaned_data_set[cleaned_data_set["salary"] == "<=50K"]["age"].mean()

std_dev_age_more_50k = cleaned_data_set[cleaned_data_set["salary"] == ">50K"]["age"].std()
std_dev_age_less_50k = cleaned_data_set[cleaned_data_set["salary"] == "<=50K"]["age"].std()

print(mean_age_more_50k, mean_age_less_50k, std_dev_age_more_50k, std_dev_age_less_50k)

43.95911028236548 36.60806038668668 10.269632835673852 13.464631257161633

# Task 5
Check, if there are some people without higher education (education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate), but with > 50K salary

In [178]:
# write your code for task 5 here

degree = ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]
no_higher_education_but_high_salary = cleaned_data_set[(cleaned_data_set["salary"] == ">50K") & (~cleaned_data_set["education"].isin(degree))]

print(no_higher_education_but_high_salary.shape[0])

3178

# Task 6
Get the statistics of age for each type of education. Use `groupby` and `describe` for this.

In [181]:
# write your code for task 6 here
cleaned_data_set.groupby("education")["age"].describe()

               count       mean        std   min   25%   50%   75%   max
education
10th           820.0  37.897561  16.225795  17.0  23.0  36.0  52.0  90.0
11th          1048.0  32.363550  15.089307  17.0  18.0  28.5  43.0  90.0
12th           377.0  32.013263  14.373710  17.0  19.0  28.0  41.0  79.0
1st-4th        151.0  44.622517  14.929051  19.0  33.0  44.0  56.0  81.0
5th-6th        288.0  41.649306  14.754622  17.0  28.0  41.0  53.0  82.0
7th-8th        557.0  47.631957  15.737479  17.0  34.0  49.0  60.0  90.0
9th            455.0  40.303297  15.335754  17.0  28.0  38.0  53.0  90.0
Assoc-acdm    1008.0  37.286706  10.509755  19.0  29.0  36.0  44.0  90.0
Assoc-voc     1307.0  38.246366  11.181253  19.0  30.0  37.0  45.0  84.0
Bachelors     5044.0  38.641554  11.577566  19.0  29.0  37.0  46.0  90.0
Doctorate      375.0  47.130667  11.471727  24.0  39.0  47.0  54.0  80.0
HS-grad       9840.0  38.640955  13.067730  17.0  28.0  37.0  48.0  90.0
Masters       1627.0  43.740012  10.735356  18.0  36.0  43.0  50.0  90.0
Preschool       45.0  41.288889  15.175672  19.0  30.0  40.0  53.0  75.0
Prof-school    542.0  44.249077  11.428098  25.0  36.0  43.0  50.0  90.0
Some-college  6678.0  36.135370  13.073528  17.0  25.0  35.0  45.0  90.0

# Task 7
Compare the married and non-married men salaries. Who earns more? (>50K or <=50K)
Married men are those, whom `marital-status` starts with "Married". Others are not.

In [188]:
# write your code for task 7 here
married_men = cleaned_data_set[(cleaned_data_set["sex"] == "Male") & (cleaned_data_set["marital-status"].str.startswith("Married"))]
non_married_men = cleaned_data_set[(cleaned_data_set["sex"] == "Male") & (~cleaned_data_set["marital-status"].str.startswith("Married"))]

married_men_over_50k = married_men[married_men["salary"] == ">50K"].shape[0]
married_men_under_50k = married_men[married_men["salary"] == "<=50K"].shape[0]

non_married_men_over_50k = non_married_men[non_married_men["salary"] == ">50K"].shape[0]
non_married_men_under_50k = non_married_men[non_married_men["salary"] == "<=50K"].shape[0]

print(f"Married >50K: {married_men_over_50k}")
print(f"Married <=50K: {married_men_under_50k}")
print(f"Not married >50K: {non_married_men_over_50k}")
print(f"Not married <=50K: {non_married_men_under_50k}")

Married >50K: 5723
Married <=50K: 7052
Not married >50K: 673
Not married <=50K: 6932

# Task 8
Get the max hours per week some person works. How many people works the same amount of hours per week?

In [199]:
# write your code for task 8 here
max_hours = cleaned_data_set["hours-per-week"].max()
num_people_with_max_hours = cleaned_data_set[cleaned_data_set["hours-per-week"] == max_hours].shape[0]

print(max_hours, num_people_with_max_hours)

99 78

# Task 9
Analyze the correlation between data in dataset. Understand connected fields in it and print highlight thier connection.

In [194]:
# write your code for task 9 here
print(cleaned_data_set.select_dtypes(include=["int64", "float64"]).corr())

                Unnamed: 0       age  hours-per-week  salary K$
Unnamed: 0        1.000000 -0.001126       -0.001890   0.000129
age              -0.001126  1.000000        0.101599   0.208203
hours-per-week   -0.001890  0.101599        1.000000   0.196378
salary K$         0.000129  0.208203        0.196378   1.000000