In [2]:
import numpy as np
import pandas as pd

# Task 0
Read the dataset from csv file & perform data cleaning - remove all rows, which contains `?` in some columns.
Also check for data correctness (salary & salary $K).

In [3]:
dataSet = pd.read_csv('../data/adult.csv')
dataSet.tail()

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
32556,32556,27,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,38,United-States,<=50K,36
32557,32557,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K,173
32558,32558,58,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,40,United-States,<=50K,40
32559,32559,22,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,20,United-States,<=50K,38
32560,32560,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K,243

In [4]:
dataSet[dataSet["occupation"] == "?"] = np.nan
dataSet["occupation"].unique()
dataSet[dataSet["native-country"] == "?"] = np.nan
dataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      30162 non-null  float64
 1   age             30162 non-null  float64
 2   workclass       30162 non-null  object
 3   education       30162 non-null  object
 4   marital-status  30162 non-null  object
 5   occupation      30162 non-null  object
 6   relationship    30162 non-null  object
 7   race            30162 non-null  object
 8   sex             30162 non-null  object
 9   hours-per-week  30162 non-null  float64
 10  native-country  30162 non-null  object
 11  salary          30162 non-null  object
 12  salary K$       30162 non-null  float64
dtypes: float64(4), object(9)
memory usage: 3.2+ MB

# Task 1
Print the count of men and women in the dataset.

In [5]:
# write your code for task 1 here
print(len(dataSet[dataSet["sex"] == "Female"]))
print(len(dataSet[dataSet["sex"] == "Male"]))

9782
20380

# Task 2
Find the average age of men in dataset

In [6]:
# write your code for task 2 here
print(dataSet[dataSet["sex"] == "Male"]["age"].mean())

39.18400392541707

# Task 3
Get the percentage of people from Poland (native-country)

In [7]:
# write your code for task 3 here
print(len(dataSet[dataSet["native-country"] == "Poland"]) / len(dataSet))

0.0017198488989895887

# Task 4
Get the mean and standard deviation of the age for people who earn > 50K per year. After this, get it for those who earn <= 50K.

In [8]:
# write your code for task 4 here
pplWhoEarGreateThen50 = dataSet[dataSet["salary"] == ">50K"]
print(pplWhoEarGreateThen50["age"].mean())
print(pplWhoEarGreateThen50["age"].std())
pplWhoEarLessThen50 = dataSet[dataSet["salary"] == "<=50K"]
print(pplWhoEarLessThen50["age"].mean())
print(pplWhoEarLessThen50["age"].std())

43.95911028236548
10.269632835673852
36.60806038668668
13.464631257161633

# Task 5
Check, if there are some people without higher education (education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate), but with > 50K salary

In [9]:
# write your code for task 5 here
pplWithoutHighEducation = dataSet[~dataSet["education"].isin(["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"])]
pplWithoutHighEducation[pplWithoutHighEducation["salary"] == ">50K"]

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
7,7.0,52.0,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,45.0,United-States,>50K,307.0
10,10.0,37.0,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,Black,Male,80.0,United-States,>50K,116.0
55,55.0,43.0,Private,Some-college,Married-civ-spouse,Tech-support,Husband,White,Male,40.0,United-States,>50K,341.0
67,67.0,53.0,Private,HS-grad,Married-civ-spouse,Adm-clerical,Wife,White,Female,40.0,United-States,>50K,225.0
68,68.0,49.0,Self-emp-inc,Some-college,Married-civ-spouse,Exec-managerial,Husband,White,Male,50.0,United-States,>50K,194.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32462,32462.0,48.0,Self-emp-inc,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,50.0,United-States,>50K,343.0
32518,32518.0,57.0,Local-gov,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,40.0,United-States,>50K,116.0
32519,32519.0,46.0,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,White,Male,48.0,United-States,>50K,239.0
32557,32557.0,40.0,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40.0,United-States,>50K,173.0
32560,32560.0,52.0,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40.0,United-States,>50K,243.0

# Task 6
Get the statistics of age for each type of education. Use `groupby` and `describe` for this.

In [10]:
# write your code for task 6 here
dataSet.groupby("education").describe()["age"]

               count       mean        std   min   25%   50%   75%   max
education
10th           820.0  37.897561  16.225795  17.0  23.0  36.0  52.0  90.0
11th          1048.0  32.363550  15.089307  17.0  18.0  28.5  43.0  90.0
12th           377.0  32.013263  14.373710  17.0  19.0  28.0  41.0  79.0
1st-4th        151.0  44.622517  14.929051  19.0  33.0  44.0  56.0  81.0
5th-6th        288.0  41.649306  14.754622  17.0  28.0  41.0  53.0  82.0
7th-8th        557.0  47.631957  15.737479  17.0  34.0  49.0  60.0  90.0
9th            455.0  40.303297  15.335754  17.0  28.0  38.0  53.0  90.0
Assoc-acdm    1008.0  37.286706  10.509755  19.0  29.0  36.0  44.0  90.0
Assoc-voc     1307.0  38.246366  11.181253  19.0  30.0  37.0  45.0  84.0
Bachelors     5044.0  38.641554  11.577566  19.0  29.0  37.0  46.0  90.0
Doctorate      375.0  47.130667  11.471727  24.0  39.0  47.0  54.0  80.0
HS-grad       9840.0  38.640955  13.067730  17.0  28.0  37.0  48.0  90.0
Masters       1627.0  43.740012  10.735356  18.0  36.0  43.0  50.0  90.0
Preschool       45.0  41.288889  15.175672  19.0  30.0  40.0  53.0  75.0
Prof-school    542.0  44.249077  11.428098  25.0  36.0  43.0  50.0  90.0
Some-college  6678.0  36.135370  13.073528  17.0  25.0  35.0  45.0  90.0

# Task 7
Compare the married and non-married men salaries. Who earns more? (>50K or <=50K)
Married men are those, whom `marital-status` starts with "Married". Others are not.

In [11]:
allMales = dataSet[dataSet["sex"] == "Male"]
notMarried = allMales[allMales["marital-status"].str.startswith("Married")]["salary K$"].mean()
married = allMales[~allMales["marital-status"].str.startswith("Married")]["salary K$"].mean()
if notMarried > married: print("not married earns more")
else: print("married earns more")
print(f"Married: {married}\nNot married: {notMarried}")

not married earns more
Married: 46.59723865877712
Not married: 107.49455968688845

# Task 8
Get the max hours per week some person works. How many people works the same amount of hours per week?

In [12]:
maxHours = dataSet["hours-per-week"].max()
len(dataSet[dataSet["hours-per-week"] == maxHours])

78

# Task 9
Analyze the correlation between data in dataset. Understand connected fields in it and print highlight thier connection.

In [14]:
dataSet.corr(numeric_only=True)

                Unnamed: 0       age  hours-per-week  salary K$
Unnamed: 0        1.000000 -0.001126       -0.001890   0.000129
age              -0.001126  1.000000        0.101599   0.208203
hours-per-week   -0.001890  0.101599        1.000000   0.196378
salary K$         0.000129  0.208203        0.196378   1.000000