In [4]:
import numpy as np
import pandas as pd

# Task 0
Read the dataset from csv file & perform data cleaning - remove all rows, which contains `?` in some columns.
Also check for data correctness (salary & salary $K).

In [179]:
data = pd.read_csv("C:\\Users\\Owner\\pythone_mate\\Data_analysis\\py-adult-data-analysis\\data\\adult.csv", index_col=0)
data = data.replace("?", np.nan)
data = data.dropna()
data.describe( )

                age  hours-per-week     salary K$
count  30162.000000    30162.000000  30162.000000
mean      38.437902       40.931238     73.968570
std       13.134665       11.979984     85.365144
min       17.000000        1.000000     15.000000
25%       28.000000       40.000000     26.000000
50%       37.000000       40.000000     38.000000
75%       47.000000       45.000000     49.000000
max       90.000000       99.000000    349.000000

# Task 1
Print the count of men and women in the dataset.

In [180]:
data["sex"].value_counts()

sex
Male      20380
Female     9782
Name: count, dtype: int64

# Task 2
Find the average age of men in dataset

In [51]:
data["age"][data["sex"] == "Male"].mean()

38.437901995888865

# Task 3
Get the percentage of people from Poland (native-country)

In [69]:
len(data[data["native-country"] == "Poland"]) / len(data) * 100

0.18566408063125786

# Task 4
Get the mean and standard deviation of the age for people who earn > 50K per year. After this, get it for those who earn <= 50K.

In [75]:
data["age"][data["salary K$"] > 50].mean()
data["age"][data["salary K$"] > 50].std()
data["age"][data["salary K$"] <= 50].mean()
data["age"][data["salary K$"] <= 50].std()

36.60806038668668

# Task 5
Check, if there are some people without higher education (education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate), but with > 50K salary

In [101]:
exclude_values = ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]
data[~data["education"].isin(exclude_values)][data["salary K$"] > 50]

C:\Users\Owner\AppData\Local\Temp\ipykernel_85648\3432337235.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data[~data["education"].isin(exclude_values)][data["salary K$"] > 50]

,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
7,52,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,>50K,307
10,37,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,Black,Male,80,United-States,>50K,116
55,43,Private,Some-college,Married-civ-spouse,Tech-support,Husband,White,Male,40,United-States,>50K,341
67,53,Private,HS-grad,Married-civ-spouse,Adm-clerical,Wife,White,Male,40,United-States,>50K,225
68,49,Self-emp-inc,Some-college,Married-civ-spouse,Exec-managerial,Husband,White,Male,50,United-States,>50K,194
...,...,...,...,...,...,...,...,...,...,...,...,...
32462,48,Self-emp-inc,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,50,United-States,>50K,343
32518,57,Local-gov,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,>50K,116
32519,46,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,White,Male,48,United-States,>50K,239
32557,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K,173
32560,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Male,40,United-States,>50K,243

# Task 6
Get the statistics of age for each type of education. Use `groupby` and `describe` for this.

In [106]:
data.groupby(["age","education"]).describe()

                 hours-per-week                                                \
                          count       mean        std   min   25%   50%   75%
age education
17  10th                  106.0  19.896226   9.235469   4.0  12.0  20.0  25.0
    11th                  154.0  19.448052   8.235141   5.0  15.0  20.0  21.5
    12th                   32.0  18.500000   7.708395   6.0  15.0  17.5  20.0
    5th-6th                 1.0  48.000000        NaN  48.0  48.0  48.0  48.0
    7th-8th                 3.0  31.000000  20.074860   8.0  24.0  40.0  42.5
...                         ...        ...        ...   ...   ...   ...   ...
90  Bachelors               7.0  36.428571  17.251639  10.0  27.5  40.0  47.5
    HS-grad                11.0  40.000000  22.239604  12.0  27.5  40.0  40.0
    Masters                 4.0  47.500000   9.574271  40.0  40.0  45.0  52.5
    Prof-school             1.0  72.000000        NaN  72.0  72.0  72.0  72.0
    Some-college            5.0  37.400000   2.509980  35.0  35.0  37.0  40.0

                       salary K$                                         \
                   max     count        mean         std    min     25%
age education
17  10th          40.0     106.0   31.349057    9.442601   15.0   24.00
    11th          45.0     154.0   32.655844    9.578967   15.0   25.00
    12th          40.0      32.0   32.500000    9.425429   17.0   25.00
    5th-6th       48.0       1.0   47.000000         NaN   47.0   47.00
    7th-8th       45.0       3.0   35.000000   14.798649   18.0   30.00
...                ...       ...         ...         ...    ...     ...
90  Bachelors     55.0       7.0  107.714286  132.360259   20.0   25.00
    HS-grad       99.0      11.0   40.545455   31.094577   17.0   23.00
    Masters       60.0       4.0  201.250000  131.154807   44.0  121.25
    Prof-school   72.0       1.0  141.000000         NaN  141.0  141.00
    Some-college  40.0       5.0   24.400000    9.889388   17.0   17.00


                    50%     75%    max
age education
17  10th           31.0   38.75   49.0
    11th           31.0   40.00   49.0
    12th           31.5   41.00   49.0
    5th-6th        47.0   47.00   47.0
    7th-8th        42.0   43.50   45.0
...                 ...     ...    ...
90  Bachelors      40.0  168.00  308.0
    HS-grad        37.0   42.00  129.0
    Masters       213.0  293.00  335.0
    Prof-school   141.0  141.00  141.0
    Some-college   22.0   25.00   41.0

[930 rows x 16 columns]

# Task 7
Compare the married and non-married men salaries. Who earns more? (>50K or <=50K)
Married men are those, whom `marital-status` starts with "Married". Others are not.

In [140]:
men = data[data["sex"] == "Male"]
men["Married"] = men["marital-status"].str.startswith("Married")
married = men[men["Married"]]["salary K$"].mean()
non_married = men[men["Married"] == False]["salary K$"]
married.mean() > non_married.mean()

True

# Task 8
Get the max hours per week some person works. How many people works the same amount of hours per week?

In [181]:
data["hours-per-week"].max()
data.groupby("hours-per-week").size().reset_index(name='count')

,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K,39
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K,35
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K,27
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K,43
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K,25
...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,38,United-States,<=50K,36
32557,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K,173
32558,58,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,40,United-States,<=50K,40
32559,22,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,20,United-States,<=50K,38
32560,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K,243

# Task 9
Analyze the correlation between data in dataset. Understand connected fields in it and print highlight thier connection.

In [185]:
data.select_dtypes(include=["int64", "float64"]).corr()
gender_mapping = {"Male": 0, 'Female': 1}
data["Gender_Mapping"] = data["sex"].map(gender_mapping)
data.select_dtypes(include=["int64", "float64"]).corr()

                     age  hours-per-week  salary K$  Gender_Mapping
age             1.000000        0.101599   0.208203       -0.081993
hours-per-week  0.101599        1.000000   0.196378       -0.231268
salary K$       0.208203        0.196378   1.000000       -0.182642
Gender_Mapping -0.081993       -0.231268  -0.182642        1.000000