In [3]:
import numpy as np
import pandas as pd

# Task 0
Read the dataset from csv file & perform data cleaning - remove all rows, which contains `?` in some columns.
Also check for data correctness (salary & salary $K).

In [29]:
df = pd.read_csv("adult.csv")
df = df.replace("?", np.nan)
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30162 entries, 0 to 32560
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      30162 non-null  int64
 1   age             30162 non-null  int64
 2   workclass       30162 non-null  object
 3   education       30162 non-null  object
 4   marital-status  30162 non-null  object
 5   occupation      30162 non-null  object
 6   relationship    30162 non-null  object
 7   race            30162 non-null  object
 8   sex             30162 non-null  object
 9   hours-per-week  30162 non-null  int64
 10  native-country  30162 non-null  object
 11  salary          30162 non-null  object
 12  salary K$       30162 non-null  int64
dtypes: int64(4), object(9)
memory usage: 3.2+ MB

In [80]:
df = df.rename(columns={"salary K$": "salary_K$"})
mask1 = df["salary"] == "<=50K"
mask2 = df["salary_K$"] <= 50

mask3 = df["salary"] == ">50K"
mask4 = df["salary_K$"] > 50

mask = (mask1 & mask2) | (mask3 & mask4)

df = df[mask]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30162 entries, 0 to 32560
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      30162 non-null  int64
 1   age             30162 non-null  int64
 2   workclass       30162 non-null  object
 3   education       30162 non-null  object
 4   marital-status  30162 non-null  object
 5   occupation      30162 non-null  object
 6   relationship    30162 non-null  object
 7   race            30162 non-null  object
 8   sex             30162 non-null  object
 9   hours-per-week  30162 non-null  int64
 10  native-country  30162 non-null  object
 11  salary          30162 non-null  object
 12  salary_K$       30162 non-null  int64
 13  is_maried       30162 non-null  bool
 14  is_white        30162 non-null  bool
 15  is_usa          30162 non-null  bool
dtypes: bool(3), int64(4), object(9)
memory usage: 3.3+ MB

# Task 1
Print the count of men and women in the dataset.

In [31]:
men_count = df[df["sex"] == "Male"].shape[0]
women_count = df[df["sex"] == "Female"].shape[0]
print(f"Men: {men_count}, Women: {women_count}")

Men: 20380, Women: 9782

# Task 2
Find the average age of men in dataset

In [34]:
avg_age_men = df[df["sex"] == "Male"]["age"].mean()
print(f"Average age of men: {avg_age_men}")

Average age of men: 39.18400392541707

# Task 3
Get the percentage of people from Poland (native-country)

In [35]:
poland_count = df[df["native-country"] == "Poland"].shape[0]
total_count = df.shape[0]
percentage = (poland_count / total_count) * 100
print(f"Percentage of people from Poland: {percentage}%")

Percentage of people from Poland: 0.18566408063125786%

# Task 4
Get the mean and standard deviation of the age for people who earn > 50K per year. After this, get it for those who earn <= 50K.

In [37]:
age_mean_50k = df[df["salary"] == ">50K"]["age"].mean()
age_std_50k = df[df["salary"] == ">50K"]["age"].std()
print(f"Mean age for people who earn >50K per year: {age_mean_50k}")
print(f"Standard deviation of age for people who earn >50K per year: {age_std_50k}")

age_mean_50k_less = df[df["salary"] == "<=50K"]["age"].mean()
age_std_50k_less = df[df["salary"] == "<=50K"]["age"].std()
print(f"Mean age for people who earn <=50K per year: {age_mean_50k_less}")
print(f"Standard deviation of age for people who earn <=50K per year: {age_std_50k_less}")

Mean age for people who earn >50K per year: 43.95911028236548
Standard deviation of age for people who earn >50K per year: 10.269632835673852
Mean age for people who earn <=50K per year: 36.60806038668668
Standard deviation of age for people who earn <=50K per year: 13.464631257161633

# Task 5
Check, if there are some people without higher education (education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate), but with > 50K salary

In [48]:
higher_edu = ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]
no_higher_edu = ~df["education"].isin(higher_edu)
high_salary = df["salary"] == ">50K"
result = df[no_higher_edu & high_salary].shape[0]
all_people = df.shape[0]
percentage = result/all_people * 100
print(f"{result} people without higher education but with >50K salary, from {all_people} people, it is {percentage:.2f}%")

3178 people without higher education but with >50K salary, from 30162 people, it is 10.54%

# Task 6
Get the statistics of age for each type of education. Use `groupby` and `describe` for this.

In [51]:
grouped = df.groupby("education")["age"].describe()
print(grouped)

               count       mean        std   min   25%   50%   75%   max
education
10th           820.0  37.897561  16.225795  17.0  23.0  36.0  52.0  90.0
11th          1048.0  32.363550  15.089307  17.0  18.0  28.5  43.0  90.0
12th           377.0  32.013263  14.373710  17.0  19.0  28.0  41.0  79.0
1st-4th        151.0  44.622517  14.929051  19.0  33.0  44.0  56.0  81.0
5th-6th        288.0  41.649306  14.754622  17.0  28.0  41.0  53.0  82.0
7th-8th        557.0  47.631957  15.737479  17.0  34.0  49.0  60.0  90.0
9th            455.0  40.303297  15.335754  17.0  28.0  38.0  53.0  90.0
Assoc-acdm    1008.0  37.286706  10.509755  19.0  29.0  36.0  44.0  90.0
Assoc-voc     1307.0  38.246366  11.181253  19.0  30.0  37.0  45.0  84.0
Bachelors     5044.0  38.641554  11.577566  19.0  29.0  37.0  46.0  90.0
Doctorate      375.0  47.130667  11.471727  24.0  39.0  47.0  54.0  80.0
HS-grad       9840.0  38.640955  13.067730  17.0  28.0  37.0  48.0  90.0
Masters       1627.0  43.740012  10.735356  18.0  36.0  43.0  50.0  90.0
Preschool       45.0  41.288889  15.175672  19.0  30.0  40.0  53.0  75.0
Prof-school    542.0  44.249077  11.428098  25.0  36.0  43.0  50.0  90.0
Some-college  6678.0  36.135370  13.073528  17.0  25.0  35.0  45.0  90.0

# Task 7
Compare the married and non-married men salaries. Who earns more? (>50K or <=50K)
Married men are those, whom `marital-status` starts with "Married". Others are not.

In [52]:
married_men = df[(df["sex"] == "Male") & (df["marital-status"].str.startswith("Married"))]
non_married_men = df[(df["sex"] == "Male") & (~df["marital-status"].str.startswith("Married"))]

married_men_high_salary_count = married_men[married_men["salary"] == ">50K"].shape[0]
married_men_low_salary_count = married_men[married_men["salary"] == "<=50K"].shape[0]

non_married_men_high_salary_count = non_married_men[non_married_men["salary"] == ">50K"].shape[0]
non_married_men_low_salary_count = non_married_men[non_married_men["salary"] == "<=50K"].shape[0]

print(f"Married men with >50K salary: {married_men_high_salary_count}")
print(f"Married men with <=50K salary: {married_men_low_salary_count}")
print(f"Non-married men with >50K salary: {non_married_men_high_salary_count}")
print(f"Non-married men with <=50K salary: {non_married_men_low_salary_count}")

Married men with >50K salary: 5723
Married men with <=50K salary: 7052
Non-married men with >50K salary: 673
Non-married men with <=50K salary: 6932

# Task 8
Get the max hours per week some person works. How many people works the same amount of hours per week?

In [53]:
max_hours_per_week = df["hours-per-week"].max()
num_people_max_hours = df[df["hours-per-week"] == max_hours_per_week].shape[0]
print(f"Max hours per week: {max_hours_per_week}")
print(f"Number of people who work the same amount of hours per week: {num_people_max_hours}")

Max hours per week: 99
Number of people who work the same amount of hours per week: 78

# Task 9
Analyze the correlation between data in dataset. Understand connected fields in it and print highlight thier connection.

In [79]:
df["is_maried"] = df["marital-status"].str.startswith("Married")
df["is_white"] = df["race"].str.startswith("White")
df["is_usa"] = df["native-country"].str.startswith("United-States")

numerical_cols = df.select_dtypes(include=[np.number, "bool"]).columns
numerical_df = df[numerical_cols]
numerical_df = numerical_df.drop("Unnamed: 0", axis=1)
corr = numerical_df.corr()

def style_negative(v, props=""):
    return props if v > 0.3 and v != 1 else None

s2 = corr.style.applymap(style_negative, props="color:red;")\
              .applymap(lambda v: "opacity: 20%;" if (v < 0.2) and (v > -0.2) or v == 1 else None)
s2