In [1]:
import numpy as np
import pandas as pd

# Task 0
Read the dataset from csv file & perform data cleaning - remove all rows, which contains `?` in some columns.
Also check for data correctness (salary & salary $K).

In [7]:

df = pd.read_csv("adult.csv")
df_cleaned = df[~df.isin(["?"]).any(axis=1)]

df_cleaned = df_cleaned[df_cleaned["salary"] == df_cleaned["salary K$"].astype(str)]

# Task 1
Print the count of men and women in the dataset.

In [8]:
df_cleaned["sex"].value_counts()

Series([], Name: count, dtype: int64)

# Task 2
Find the average age of men in dataset

In [9]:

df_cleaned[df_cleaned["sex"] == "Male"]["age"].mean()

nan

# Task 3
Get the percentage of people from Poland (native-country)

In [10]:
(df_cleaned["native-country"] == "Poland").mean() * 100

nan

# Task 4
Get the mean and standard deviation of the age for people who earn > 50K per year. After this, get it for those who earn <= 50K.

In [11]:
df_gt_50k = df_cleaned[df_cleaned["salary"] == ">50K"]["age"]
df_lte_50k = df_cleaned[df_cleaned["salary"] == "<=50K"]["age"]

gt_50k_mean_std = (df_gt_50k.mean(), df_gt_50k.std())
lte_50k_mean_std = (df_lte_50k.mean(), df_lte_50k.std())

# Task 5
Check, if there are some people without higher education (education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate), but with > 50K salary

In [12]:
higher_education = ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]
df_cleaned[(~df_cleaned["education"].isin(higher_education)) & (df_cleaned["salary"] == ">50K")]

Empty DataFrame
Columns: [Unnamed: 0, age, workclass, education, marital-status, occupation, relationship, race, sex, hours-per-week, native-country, salary, salary K$]
Index: []

# Task 6
Get the statistics of age for each type of education. Use `groupby` and `describe` for this.

In [13]:
df_cleaned.groupby("education")["age"].describe()

Empty DataFrame
Columns: [count, mean, std, min, 25%, 50%, 75%, max]
Index: []

# Task 7
Compare the married and non-married men salaries. Who earns more? (>50K or <=50K)
Married men are those, whom `marital-status` starts with "Married". Others are not.

In [14]:
married_men = df_cleaned[(df_cleaned["sex"] == "Male") & df_cleaned["marital-status"].str.startswith("Married")]
non_married_men = df_cleaned[(df_cleaned["sex"] == "Male") & ~df_cleaned["marital-status"].str.startswith("Married")]

married_salary_dist = married_men["salary"].value_counts(normalize=True)
non_married_salary_dist = non_married_men["salary"].value_counts(normalize=True)

# Task 8
Get the max hours per week some person works. How many people works the same amount of hours per week?

In [15]:
max_hours = df_cleaned["hours-per-week"].max()
max_hours_workers = df_cleaned[df_cleaned["hours-per-week"] == max_hours].shape[0]

# Task 9
Analyze the correlation between data in dataset. Understand connected fields in it and print highlight thier connection.

In [16]:
df_cleaned.corr()

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
Unnamed: 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
workclass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
marital-status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
occupation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
relationship,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
race,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hours-per-week,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
native-country,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
salary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
salary K$,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN