In [2]:
import numpy as np
import pandas as pd

# Task 0
Read the dataset from csv file & perform data cleaning - remove all rows, which contains `?` in some columns.
Also check for data correctness (salary & salary $K).

In [191]:
df = pd.read_csv("../data/adult.csv", index_col=0)

df_cleaned = df.replace("?", pd.NA).dropna()

cond1 = ((df_cleaned["salary"] == "<=50K") & (df_cleaned["salary K$"] > 50))
df_cleaned.loc[df_cleaned[cond1].index.values, "salary"] = ">50K"
cond2 = ((df_cleaned["salary"] == ">50K") & (df_cleaned["salary K$"] <= 50))
df_cleaned.loc[df_cleaned[cond2].index.values, "salary"] = "<=50K"
print(f"corrected {cond1.sum() + cond2.sum()} salary")

corrected 0 salary


# Task 1
Print the count of men and women in the dataset.

In [41]:
print(df_cleaned["sex"].value_counts())

sex
Male      20380
Female     9782
Name: count, dtype: int64

# Task 2
Find the average age of men in dataset

In [51]:
men_df = df_cleaned[df_cleaned["sex"] == "Male"]
print(men_df["age"].mean())

39.18400392541707

# Task 3
Get the percentage of people from Poland (native-country)

In [55]:
polish = len(df_cleaned[df_cleaned["native-country"]=="Poland"]) / len(df_cleaned) * 100
print(f"{polish:.2f}")

0.19

# Task 4
Get the mean and standard deviation of the age for people who earn > 50K per year. After this, get it for those who earn <= 50K.

In [60]:
df_age = df_cleaned[df_cleaned["salary"] == ">50K"]
print(f"mean of the age who earn >50K = {df_age["age"].mean():.2f}")
print(f"standard deviation of the age who earn >50K = {df_age["age"].std():.2f}")

df_age_upto50k = df_cleaned[df_cleaned["salary"] == "<=50K"]
print(f"mean of the age who earn <=50K = {df_age_upto50k["age"].mean():.2f}")
print(f"standard deviation of the age who earn <=50K = {df_age_upto50k["age"].std():.2f}")

mean of the age who earn >50K = 43.96
standard deviation of the age who earn >50K = 10.27
mean of the age who earn <=50K = 36.61
standard deviation of the age who earn <=50K = 13.46

# Task 5
Check, if there are some people without higher education (education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate), but with > 50K salary

In [65]:
higher_edu = ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]
non_edu_more50k = df_cleaned[(df_cleaned["salary"] == ">50K") & (~df_cleaned["education"].isin(higher_edu))]

if not non_edu_more50k.empty:
    print(f"{len(non_edu_more50k)} people without higher education earning more than 50K.")
else:
    print("There are no people without higher education earning more than 50K.")

3306 people without higher education earning more than 50K.

# Task 6
Get the statistics of age for each type of education. Use `groupby` and `describe` for this.

In [71]:
print(df_cleaned.groupby("education")["age"].describe())

               count       mean        std   min   25%   50%   75%   max
education
10th           820.0  37.897561  16.225795  17.0  23.0  36.0  52.0  90.0
11th          1048.0  32.363550  15.089307  17.0  18.0  28.5  43.0  90.0
12th           377.0  32.013263  14.373710  17.0  19.0  28.0  41.0  79.0
1st-4th        151.0  44.622517  14.929051  19.0  33.0  44.0  56.0  81.0
5th-6th        288.0  41.649306  14.754622  17.0  28.0  41.0  53.0  82.0
7th-8th        557.0  47.631957  15.737479  17.0  34.0  49.0  60.0  90.0
9th            455.0  40.303297  15.335754  17.0  28.0  38.0  53.0  90.0
Assoc-acdm    1008.0  37.286706  10.509755  19.0  29.0  36.0  44.0  90.0
Assoc-voc     1307.0  38.246366  11.181253  19.0  30.0  37.0  45.0  84.0
Bachelors     5044.0  38.641554  11.577566  19.0  29.0  37.0  46.0  90.0
Doctorate      375.0  47.130667  11.471727  24.0  39.0  47.0  54.0  80.0
HS-grad       9840.0  38.640955  13.067730  17.0  28.0  37.0  48.0  90.0
Masters       1627.0  43.740012  10.735356  18.0  36.0  43.0  50.0  90.0
Preschool       45.0  41.288889  15.175672  19.0  30.0  40.0  53.0  75.0
Prof-school    542.0  44.249077  11.428098  25.0  36.0  43.0  50.0  90.0
Some-college  6678.0  36.135370  13.073528  17.0  25.0  35.0  45.0  90.0

# Task 7
Compare the married and non-married men salaries. Who earns more? (>50K or <=50K)
Married men are those, whom `marital-status` starts with "Married". Others are not.

In [94]:
# print(df_cleaned.groupby("marital-status")["salary"].describe())

men = df_cleaned[df_cleaned["sex"] == "Male"]
married = df_cleaned["marital-status"].str.startswith("Married")

married_men = men[married]
print(f"married men earns:")
print(married_men["salary"].value_counts())

non_married_men = men[~married]
print(f"non married men earns:")
print(non_married_men["salary"].value_counts())

married men earns:
salary
<=50K    7052
>50K     5723
Name: count, dtype: int64
non married men earns:
salary
<=50K    6932
>50K      673
Name: count, dtype: int64

C:\Users\USER\AppData\Local\Temp\ipykernel_31136\2609932115.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  married_men = men[married]
C:\Users\USER\AppData\Local\Temp\ipykernel_31136\2609932115.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  non_married_men = men[~married]

# Task 8
Get the max hours per week some person works. How many people works the same amount of hours per week?

In [100]:
hours_max = df_cleaned["hours-per-week"].max()
print(f"{len(df_cleaned[df_cleaned["hours-per-week"] == hours_max])} people with max {hours_max} hours-per-week ")

78 people with max 99 hours-per-week

# Task 9
Analyze the correlation between data in dataset. Understand connected fields in it and print highlight thier connection.

In [110]:
df_num = df_cleaned.select_dtypes(include=['int64', 'float64'])
correlation = df_num.corr()
print(correlation)

                     age  hours-per-week  salary K$
age             1.000000        0.101599   0.208203
hours-per-week  0.101599        1.000000   0.196378
salary K$       0.208203        0.196378   1.000000