In [1]:
import numpy as np
import pandas as pd

# Task 0
Read the dataset from csv file & perform data cleaning - remove all rows, which contains `?` in some columns.
Also check for data correctness (salary & salary $K).

In [35]:
# write your code for task 0 here
df = pd.read_csv('C:/Users/Admin/PycharmProjects/py-adult-data-analysis/data/adult.csv').drop('Unnamed: 0', axis=1)
df_cleaned = df.replace('?', pd.NA)
df_cleaned = df_cleaned.dropna()

df['salary K$'] = pd.to_numeric(df['salary K$'], errors='coerce')
df['salary'] = df['salary'].astype('category')
df.dropna(subset=['salary', 'salary K$'], inplace=True, how='any')
df.head(10)

,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K,39
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K,35
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K,27
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K,43
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K,25
5,37,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,<=50K,44
6,49,Private,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,16,Jamaica,<=50K,49
7,52,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,>50K,307
8,31,Private,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,50,United-States,>50K,330
9,42,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,>50K,303

# Task 1
Print the count of men and women in the dataset.

In [10]:
# write your code for task 1 here
man_count = df[df['sex'] == 'Male'].shape[0]
women_count = df[df['sex'] == 'Female'].shape[0]
man_count, women_count

(21790, 10771)

# Task 2
Find the average age of men in dataset

In [14]:
# write your code for task 2 here
man_df = df[df['sex'] == 'Male']
man_df['age'].mean()

np.float64(39.43354749885268)

# Task 3
Get the percentage of people from Poland (native-country)

In [18]:
# write your code for task 3 here
poland_count = df[df['native-country'] == 'Poland'].shape[0]
total_count = df.shape[0]
percentage = (poland_count / total_count) * 100
percentage

0.18426952489174164

# Task 4
Get the mean and standard deviation of the age for people who earn > 50K per year. After this, get it for those who earn <= 50K.

In [23]:
# write your code for task 4 here
high_earners = df[df['salary'] == '>50K']
low_earners = df[df['salary'] == '<=50K']
mean_age_high_earners = high_earners['age'].mean()
std_age_high_earners = high_earners['age'].std()
mean_age_low_earners = low_earners['age'].mean()
std_age_low_earners = low_earners['age'].std()
mean_age_low_earners, std_age_low_earners, mean_age_high_earners, std_age_high_earners

(np.float64(36.78373786407767),
 np.float64(14.02008849082488),
 np.float64(44.24984058155847),
 np.float64(10.519027719851826))

# Task 5
Check, if there are some people without higher education (education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate), but with > 50K salary

In [24]:
# write your code for task 5 here
higher_education = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
df[(df['salary'] == '>50K') & (~df['education'].isin(higher_education))]

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
7,7,52,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,>50K,307
10,10,37,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,Black,Male,80,United-States,>50K,116
27,27,54,?,Some-college,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,60,South,>50K,275
38,38,31,Private,Some-college,Married-civ-spouse,Sales,Husband,White,Male,38,?,>50K,166
55,55,43,Private,Some-college,Married-civ-spouse,Tech-support,Husband,White,Male,40,United-States,>50K,341
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32510,32510,39,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,45,?,>50K,212
32518,32518,57,Local-gov,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,>50K,116
32519,32519,46,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,White,Male,48,United-States,>50K,239
32557,32557,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K,173
32560,32560,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K,243

# Task 6
Get the statistics of age for each type of education. Use `groupby` and `describe` for this.

In [25]:
# write your code for task 6 here
df.groupby('education')['age'].describe()

                count       mean        std   min    25%   50%   75%   max
education
10th            933.0  37.429796  16.720713  17.0  22.00  34.0  52.0  90.0
11th           1175.0  32.355745  15.545485  17.0  18.00  28.0  43.0  90.0
12th            433.0  32.000000  14.334625  17.0  19.00  28.0  41.0  79.0
1st-4th         168.0  46.142857  15.615625  19.0  33.00  46.0  57.0  90.0
5th-6th         333.0  42.885886  15.557285  17.0  29.00  42.0  54.0  84.0
7th-8th         646.0  48.445820  16.092350  17.0  34.25  50.0  61.0  90.0
9th             514.0  41.060311  15.946862  17.0  28.00  39.0  54.0  90.0
Assoc-acdm     1067.0  37.381443  11.095177  19.0  29.00  36.0  44.0  90.0
Assoc-voc      1382.0  38.553546  11.631300  19.0  30.00  37.0  46.0  84.0
Bachelors      5355.0  38.904949  11.912210  19.0  29.00  37.0  46.0  90.0
Doctorate       413.0  47.702179  11.784716  24.0  39.00  47.0  55.0  80.0
HS-grad       10501.0  38.974479  13.541524  17.0  28.00  37.0  48.0  90.0
Masters        1723.0  44.049913  11.068935  18.0  36.00  43.0  51.0  90.0
Preschool        51.0  42.764706  15.126914  19.0  31.00  41.0  53.5  75.0
Prof-school     576.0  44.746528  11.962477  25.0  36.00  43.0  51.0  90.0
Some-college   7291.0  35.756275  13.474051  17.0  24.00  34.0  45.0  90.0

# Task 7
Compare the married and non-married men salaries. Who earns more? (>50K or <=50K)
Married men are those, whom `marital-status` starts with "Married". Others are not.

In [26]:
# write your code for task 7 here
men_df = df[df['sex'] == 'Male']
men_df['Marital_Status'] = men_df['marital-status'].apply(lambda x: 'Married' if x.startswith('Married') else 'Non-Married')

married_men = men_df[men_df['Marital_Status'] == 'Married']
non_married_men = men_df[men_df['Marital_Status'] == 'Non-Married']

married_high_earners = married_men[married_men['salary'] == '>50K'].shape[0]
non_married_high_earners = non_married_men[non_married_men['salary'] == '>50K'].shape[0]

if married_high_earners > non_married_high_earners:
    print("Married men earn more (>50K).")
else:
    print("Non-married men earn more (>50K).")

Married men earn more (>50K).

C:\Users\Admin\AppData\Local\Temp\ipykernel_9272\3511664123.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  men_df['Marital_Status'] = men_df['marital-status'].apply(lambda x: 'Married' if x.startswith('Married') else 'Non-Married')

# Task 8
Get the max hours per week some person works. How many people works the same amount of hours per week?

In [27]:
# write your code for task 8 here
max_hours_per_week = df['hours-per-week'].max()
count_max_hours = (df['hours-per-week'] == max_hours_per_week).sum()
max_hours_per_week, count_max_hours

(np.int64(99), np.int64(85))

# Task 9
Analyze the correlation between data in dataset. Understand connected fields in it and print highlight thier connection.

In [36]:
# write your code for task 9 here
numerical_cols = df.select_dtypes(include=['float64', 'int64'])
correlation_matrix = numerical_cols.corr()
correlation_matrix

                     age  hours-per-week  salary K$
age             1.000000        0.068756   0.201774
hours-per-week  0.068756        1.000000   0.196916
salary K$       0.201774        0.196916   1.000000