In [292]:
import numpy as np
import pandas as pd

# Task 0
Read the dataset from csv file & perform data cleaning - remove all rows, which contains `?` in some columns.
Also check for data correctness (salary & salary $K).

In [293]:
adults = pd.read_csv("../data/adult.csv")
adults = adults[adults != "?"]
adults.head(10)

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
0,0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K,39
1,1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K,35
2,2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K,27
3,3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K,43
4,4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K,25
5,5,37,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,<=50K,44
6,6,49,Private,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,16,Jamaica,<=50K,49
7,7,52,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,>50K,307
8,8,31,Private,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,50,United-States,>50K,330
9,9,42,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,>50K,303

# Task 1
Print the count of men and women in the dataset.

In [294]:
adults.groupby("sex").count()

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,hours-per-week,native-country,salary,salary K$
sex,,,,,,,,,,,,
Female,10771,10771,9932,10771,10771,9930,10771,10771,10771,10608,10771,10771
Male,21790,21790,20793,21790,21790,20788,21790,21790,21790,21370,21790,21790

# Task 2
Find the average age of men in dataset

In [295]:
adults[adults["sex"] == "Male"]["age"].mean()

39.43354749885268

# Task 3
Get the percentage of people from Poland (native-country)

In [296]:
total = adults["native-country"].count()
percentage = (adults[adults["native-country"] == "Poland"].count() / total)
percentage

Unnamed: 0        0.001876
age               0.001876
workclass         0.001751
education         0.001876
marital-status    0.001876
occupation        0.001751
relationship      0.001876
race              0.001876
sex               0.001876
hours-per-week    0.001876
native-country    0.001876
salary            0.001876
salary K$         0.001876
dtype: float64

# Task 4
Get the mean and standard deviation of the age for people who earn > 50K per year. After this, get it for those who earn <= 50K.

In [297]:
adults["age"][adults["salary"] == ">50K"].mean()

44.24984058155847

In [298]:
adults["age"][adults["salary"] == ">50K"].std()

10.519027719851826

In [299]:
adults["age"][adults["salary"] == "<=50K"].mean()

36.78373786407767

In [300]:
adults["age"][adults["salary"] == "<=50K"].std()

14.02008849082488

# Task 5
Check, if there are some people without higher education (education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate), but with > 50K salary

In [301]:
mask = (
        (~adults["education"].isin(["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]))
        & (adults["salary"] == ">50K")
)
adults[mask]

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
7,7,52,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,>50K,307
10,10,37,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,Black,Male,80,United-States,>50K,116
27,27,54,NaN,Some-college,Married-civ-spouse,NaN,Husband,Asian-Pac-Islander,Male,60,South,>50K,275
38,38,31,Private,Some-college,Married-civ-spouse,Sales,Husband,White,Male,38,NaN,>50K,166
55,55,43,Private,Some-college,Married-civ-spouse,Tech-support,Husband,White,Male,40,United-States,>50K,341
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32510,32510,39,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,45,NaN,>50K,212
32518,32518,57,Local-gov,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,>50K,116
32519,32519,46,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,White,Male,48,United-States,>50K,239
32557,32557,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K,173
32560,32560,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K,243

# Task 6
Get the statistics of age for each type of education. Use `groupby` and `describe` for this.

In [302]:
adults.groupby("education").describe()

             Unnamed: 0                                                      \
                  count          mean          std    min      25%      50%
education
10th              933.0  16215.619507  9358.228714   77.0  7964.00  16672.0
11th             1175.0  16149.619574  9472.664139    3.0  7754.50  16354.0
12th              433.0  17609.152425  9227.071786  415.0  9990.00  18877.0
1st-4th           168.0  17143.404762  9855.968341  160.0  8886.75  16989.0
5th-6th           333.0  16812.456456  9263.203203   56.0  9627.00  16494.0
7th-8th           646.0  16322.397833  9376.754565   15.0  7965.25  16542.5
9th               514.0  16523.558366  9441.367174    6.0  7795.50  16968.0
Assoc-acdm       1067.0  16644.458294  9538.263264   13.0  8154.00  16868.0
Assoc-voc        1382.0  16413.700434  9457.703182   14.0  8250.00  16555.5
Bachelors        5355.0  16187.673389  9339.246649    0.0  8266.50  16153.0
Doctorate         413.0  16540.859564  9216.092918   20.0  8909.00  16500.0
HS-grad         10501.0  16176.987906  9360.158860    2.0  8151.00  16059.0
Masters          1723.0  16343.322693  9486.218173    5.0  8094.00  16145.0
Preschool          51.0  17303.568627  9797.763945  224.0  8084.00  20440.0
Prof-school       576.0  16842.307292  9512.163721   52.0  8508.25  17485.5
Some-college     7291.0  16221.346866  9443.015705   10.0  7909.00  16200.0

                                     age             ... hours-per-week        \
                   75%      max    count       mean  ...            75%   max
education                                            ...
10th          24286.00  32551.0    933.0  37.429796  ...           40.0  99.0
11th          24243.50  32522.0   1175.0  32.355745  ...           40.0  99.0
12th          25102.00  32535.0    433.0  32.000000  ...           40.0  99.0
1st-4th       26921.50  32425.0    168.0  46.142857  ...           40.0  96.0
5th-6th       25510.00  32413.0    333.0  42.885886  ...           40.0  84.0
7th-8th       24509.00  32517.0    646.0  48.445820  ...           40.0  99.0
9th           24780.00  32501.0    514.0  41.060311  ...           40.0  99.0
Assoc-acdm    24988.50  32556.0   1067.0  37.381443  ...           45.0  99.0
Assoc-voc     24232.75  32552.0   1382.0  38.553546  ...           45.0  99.0
Bachelors     24225.00  32538.0   5355.0  38.904949  ...           50.0  99.0
Doctorate     24631.00  32539.0    413.0  47.702179  ...           55.0  99.0
HS-grad       24265.00  32560.0  10501.0  38.974479  ...           42.0  99.0
Masters       24670.50  32554.0   1723.0  44.049913  ...           50.0  99.0
Preschool     25170.00  32432.0     51.0  42.764706  ...           40.0  75.0
Prof-school   25166.75  32548.0    576.0  44.746528  ...           55.0  99.0
Some-college  24464.50  32555.0   7291.0  35.756275  ...           43.0  99.0

             salary K$                                                     \
                 count        mean         std   min   25%    50%     75%
education
10th             933.0   42.839228   45.825943  15.0  25.0   33.0   43.00
11th            1175.0   40.612766   44.638571  15.0  24.0   32.0   41.50
12th             433.0   42.914550   48.118195  15.0  24.0   33.0   42.00
1st-4th          168.0   37.279762   32.745055  15.0  24.0   32.5   42.00
5th-6th          333.0   40.339339   43.082740  15.0  23.0   33.0   43.00
7th-8th          646.0   42.371517   46.883574  15.0  24.0   33.0   43.00
9th              514.0   42.558366   49.175715  15.0  24.0   33.0   42.00
Assoc-acdm      1067.0   74.993440   86.975212  15.0  26.5   38.0   49.00
Assoc-voc       1382.0   76.188133   86.673738  15.0  27.0   39.0   62.75
Bachelors       5355.0  101.882353  101.141882  15.0  29.0   44.0  171.00
Doctorate        413.0  154.125908  100.973940  15.0  48.0  149.0  237.00
HS-grad        10501.0   59.573469   72.797540  15.0  25.0   35.0   46.00
Masters         1723.0  123.163088  104.275174  15.0  35.0   80.0  203.50
Preschool         51.0   32.627451    9.378616  15.0  23.0   35.0   39.00
Prof-school      576.0  154.435764  104.379055  15.0  48.0  143.0  247.00
Some-college    7291.0   64.214785   76.643931  15.0  25.0   37.0   47.00


                max
education
10th          347.0
11th          345.0
12th          349.0
1st-4th       279.0
5th-6th       347.0
7th-8th       347.0
9th           349.0
Assoc-acdm    349.0
Assoc-voc     349.0
Bachelors     349.0
Doctorate     349.0
HS-grad       349.0
Masters       349.0
Preschool      49.0
Prof-school   346.0
Some-college  349.0

[16 rows x 32 columns]

# Task 7
Compare the married and non-married men salaries. Who earns more? (>50K or <=50K)
Married men are those, whom `marital-status` starts with "Married". Others are not.

In [303]:
mask = adults["marital-status"].str.startswith("Married")
married = adults[(adults["sex"] == "Male") & mask]["salary"].value_counts()
not_married = adults[(adults["sex"] == "Male") & (~mask)]["salary"].value_counts()

print(f"Married", married)
print("Not married", not_married)

Married salary
<=50K    7576
>50K     5965
Name: count, dtype: int64
Not married salary
<=50K    7552
>50K      697
Name: count, dtype: int64

# Task 8
Get the max hours per week some person works. How many people works the same amount of hours per week?

In [304]:
adults[adults["hours-per-week"] == adults["hours-per-week"].max()]["hours-per-week"].count()

85

# Task 9
Analyze the correlation between data in dataset. Understand connected fields in it and print highlight thier connection.

In [305]:
pd.get_dummies(adults).corr()

,Unnamed: 0,age,hours-per-week,salary K$,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,...,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,salary_<=50K,salary_>50K
Unnamed: 0,1.000000,0.001286,0.000607,-0.001666,0.000068,-0.000542,0.005617,0.005875,-0.002470,-0.005744,...,0.004146,-0.005129,-0.004399,-0.001624,0.005810,0.001983,0.000401,0.004196,-0.005404,0.005404
age,0.001286,1.000000,0.068756,0.201774,0.051227,0.060901,-0.019362,-0.198388,0.102692,0.136252,...,0.002583,0.000613,-0.013816,-0.006271,0.004843,0.015917,-0.015054,0.000375,-0.234037,0.234037
hours-per-week,0.000607,0.068756,1.000000,0.196916,0.013293,0.011576,-0.014262,-0.020928,0.127869,0.093884,...,0.001264,0.007938,-0.004988,0.009537,-0.006006,0.002446,-0.011379,0.007408,-0.229689,0.229689
salary K$,-0.001666,0.201774,0.196916,1.000000,0.052179,0.028871,-0.007494,-0.065995,0.120122,0.023278,...,0.000567,-0.004280,0.012730,-0.001056,-0.003691,0.028293,-0.014626,0.008678,-0.855788,0.855788
workclass_Federal-gov,0.000068,0.051227,0.013293,0.052179,1.000000,-0.045682,-0.002556,-0.264369,-0.032835,-0.050709,...,-0.003347,-0.004983,-0.006903,-0.004099,-0.004212,0.015441,0.000099,-0.003865,-0.059372,0.059372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
native-country_United-States,0.001983,0.015917,0.002446,0.028293,0.015441,0.033196,0.005000,-0.043184,-0.004850,0.013730,...,-0.056315,-0.145558,-0.116167,-0.068978,-0.070869,1.000000,-0.133180,-0.065031,-0.034470,0.034470
native-country_Vietnam,0.000401,-0.015054,-0.011379,-0.014626,0.000099,-0.003611,-0.000666,0.009290,-0.004829,-0.003104,...,-0.000872,-0.002254,-0.001799,-0.001068,-0.001097,-0.133180,1.000000,-0.001007,0.017649,-0.017649
native-country_Yugoslavia,0.004196,0.000375,0.007408,0.008678,-0.003865,-0.000161,-0.000325,0.005571,0.003440,-0.001284,...,-0.000426,-0.001100,-0.000878,-0.000521,-0.000536,-0.065031,-0.001007,1.000000,-0.006959,0.006959
salary_<=50K,-0.005404,-0.234037,-0.229689,-0.855788,-0.059372,-0.033091,0.008259,0.078528,-0.139467,-0.030019,...,-0.000413,0.004737,-0.014020,0.004078,0.007660,-0.034470,0.017649,-0.006959,1.000000,-1.000000
salary_>50K,0.005404,0.234037,0.229689,0.855788,0.059372,0.033091,-0.008259,-0.078528,0.139467,0.030019,...,0.000413,-0.004737,0.014020,-0.004078,-0.007660,0.034470,-0.017649,0.006959,-1.000000,1.000000