In [8]:
import numpy as np
import pandas as pd
import os

# Task 0
Read the dataset from csv file & perform data cleaning - remove all rows, which contains `?` in some columns.
Also check for data correctness (salary & salary $K).

In [41]:
os.chdir(r"C:\aPrograms\mate\python\py-adult-data-analysis")
data = pd.read_csv("data/adult.csv", index_col=[0])
data.replace("?", np.nan)

data.head()

,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K,39
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K,35
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K,27
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K,43
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K,25

# Task 1
Print the count of men and women in the dataset.

In [16]:
count_of_men_and_women = data["sex"].value_counts()
print(count_of_men_and_women)

sex
Male      21790
Female    10771
Name: count, dtype: int64

# Task 2
Find the average age of men in dataset

In [20]:
avg_men_age = data[data["sex"] == "Male"]["age"].mean()
print(f"Avg men age: {avg_men_age}")

Avg men age: 39.43354749885268

# Task 3
Get the percentage of people from Poland (native-country)

In [21]:
poland_people = data[data["native-country"] == "Poland"].shape[0]
total_people = data.shape[0]
poland_percentage = round((poland_people / total_people) * 100, 2)

print(f"Percentage of people from Poland: {poland_percentage}%")

Percentage of people from Poland: 0.18%

# Task 4
Get the mean and standard deviation of the age for people who earn > 50K per year. After this, get it for those who earn <= 50K.

In [34]:
high_earners = data[data["salary"] == ">50K"]
high_earners_mean_age = high_earners["age"].mean()
high_earners_std_age = high_earners["age"].std()

low_earners = data[data["salary"] == "<=50K"]
low_earners_mean_age = low_earners["age"].mean()
low_earners_std_age = low_earners["age"].std()

print(f"Mean age of people earning >50K: {round(high_earners_mean_age, 2)}")
print(f"Standard deviation of age for people earning >50K: {round(high_earners_std_age, 2)}")
print(f"Mean age of people earning <=50K: {round(low_earners_mean_age, 2)}")
print(f"Standard deviation of age for people earning <=50K: {round(low_earners_std_age, 2)}")

Mean age of people earning >50K: 44.25
Standard deviation of age for people earning >50K: 10.52
Mean age of people earning <=50K: 36.78
Standard deviation of age for people earning <=50K: 14.02

# Task 5
Check, if there are some people without higher education (education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate), but with > 50K salary

In [44]:
higher_education = ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]
no_higher_education_high_earners = data[(~data["education"].isin(higher_education)) & (data["salary"] == ">50K")]
no_higher_education_high_earners

,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
7,52,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,>50K,307
10,37,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,Black,Male,80,United-States,>50K,116
27,54,?,Some-college,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,60,South,>50K,275
38,31,Private,Some-college,Married-civ-spouse,Sales,Husband,White,Male,38,?,>50K,166
55,43,Private,Some-college,Married-civ-spouse,Tech-support,Husband,White,Male,40,United-States,>50K,341
...,...,...,...,...,...,...,...,...,...,...,...,...
32510,39,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,45,?,>50K,212
32518,57,Local-gov,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,>50K,116
32519,46,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,White,Male,48,United-States,>50K,239
32557,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K,173
32560,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K,243

# Task 6
Get the statistics of age for each type of education. Use `groupby` and `describe` for this.

In [45]:
age_statistics_by_education = data.groupby("education")["age"].describe()
age_statistics_by_education

                count       mean        std   min    25%   50%   75%   max
education
10th            933.0  37.429796  16.720713  17.0  22.00  34.0  52.0  90.0
11th           1175.0  32.355745  15.545485  17.0  18.00  28.0  43.0  90.0
12th            433.0  32.000000  14.334625  17.0  19.00  28.0  41.0  79.0
1st-4th         168.0  46.142857  15.615625  19.0  33.00  46.0  57.0  90.0
5th-6th         333.0  42.885886  15.557285  17.0  29.00  42.0  54.0  84.0
7th-8th         646.0  48.445820  16.092350  17.0  34.25  50.0  61.0  90.0
9th             514.0  41.060311  15.946862  17.0  28.00  39.0  54.0  90.0
Assoc-acdm     1067.0  37.381443  11.095177  19.0  29.00  36.0  44.0  90.0
Assoc-voc      1382.0  38.553546  11.631300  19.0  30.00  37.0  46.0  84.0
Bachelors      5355.0  38.904949  11.912210  19.0  29.00  37.0  46.0  90.0
Doctorate       413.0  47.702179  11.784716  24.0  39.00  47.0  55.0  80.0
HS-grad       10501.0  38.974479  13.541524  17.0  28.00  37.0  48.0  90.0
Masters        1723.0  44.049913  11.068935  18.0  36.00  43.0  51.0  90.0
Preschool        51.0  42.764706  15.126914  19.0  31.00  41.0  53.5  75.0
Prof-school     576.0  44.746528  11.962477  25.0  36.00  43.0  51.0  90.0
Some-college   7291.0  35.756275  13.474051  17.0  24.00  34.0  45.0  90.0

# Task 7
Compare the married and non-married men salaries. Who earns more? (>50K or <=50K)
Married men are those, whom `marital-status` starts with "Married". Others are not.

In [50]:
men = data[data["sex"] == "Male"]
married_men = men[men["marital-status"].str.startswith("Married")]
non_married_men = men[~men["marital-status"].str.startswith("Married")]

married_men_salary = married_men["salary"].value_counts(normalize=True) * 100
non_married_men_salary = non_married_men["salary"].value_counts(normalize=True) * 100

print(f"Married men salary: {married_men_salary}")
print(f"Non-married men salary distribution: {non_married_men_salary}")

Married men salary: salary
<=50K    55.948601
>50K     44.051399
Name: proportion, dtype: float64
Non-married men salary distribution: salary
<=50K    91.550491
>50K      8.449509
Name: proportion, dtype: float64

# Task 8
Get the max hours per week some person works. How many people works the same amount of hours per week?

In [57]:
max_hours = data["hours-per-week"].max()
max_hours_people_count = data[data["hours-per-week"] == max_hours].shape[0]

print(f"Maximum hours worked per week: {max_hours}")
print(f"Number of people who work {max_hours} hours per week: {max_hours_people_count}")

Maximum hours worked per week: 99
Number of people who work 99 hours per week: 85

# Task 9
Analyze the correlation between data in dataset. Understand connected fields in it and print highlight thier connection.

In [58]:
numeric_columns = data.select_dtypes(include=["int64", "float64"]).columns
correlation_matrix = data[numeric_columns].corr()
print(correlation_matrix)

                     age  hours-per-week  salary K$
age             1.000000        0.068756   0.201774
hours-per-week  0.068756        1.000000   0.196916
salary K$       0.201774        0.196916   1.000000