In [3]:
import numpy as np
import pandas as pd

# Task 0
Read the dataset from csv file & perform data cleaning - remove all rows, which contains `?` in some columns.
Also check for data correctness (salary & salary $K).

In [4]:
df = pd.read_csv(r"../data/adult.csv").replace("?", np.nan).dropna()
df.head()

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
0,0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K,39
1,1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K,35
2,2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K,27
3,3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K,43
4,4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K,25

In [14]:
salary = df["salary"]
salary_k = df["salary K$"]
salary_check = salary.isin(['<=50K', '>50K']).all()
salary_k_check = salary_k.astype(str).str.isnumeric().all()
print(salary_check)
print(salary_k_check)

True
True

# Task 1
Print the count of men and women in the dataset.

In [23]:
df["sex"].value_counts()

sex
Male      20380
Female     9782
Name: count, dtype: int64

# Task 2
Find the average age of men in dataset

In [24]:
df[df["sex"] == "Male"]["age"].mean()

39.18400392541707

# Task 3
Get the percentage of people from Poland (native-country)

In [5]:
native_country = df["native-country"]
df[native_country == "Poland"]["native-country"].count() / native_country.count()

0.0018566408063125787

# Task 4
Get the mean and standard deviation of the age for people who earn > 50K per year. After this, get it for those who earn <= 50K.

In [29]:
higher = df[df["salary"] == ">50K"]["age"]
print(higher.mean(), higher.std())

43.95911028236548 10.269632835673852

In [30]:
lower = df[df["salary"] == "<=50K"]["age"]
print(lower.mean(), lower.std())

36.60806038668668 13.464631257161633

# Task 5
Check, if there are some people without higher education (education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate), but with > 50K salary

In [31]:
higher_education = ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]
df_without_higher = df[~df["education"].isin(higher_education)]
len(df_without_higher[df_without_higher["salary"] == ">50K"])

3178

# Task 6
Get the statistics of age for each type of education. Use `groupby` and `describe` for this.

In [32]:
df.groupby(by="education")["age"].describe()

               count       mean        std   min   25%   50%   75%   max
education
10th           820.0  37.897561  16.225795  17.0  23.0  36.0  52.0  90.0
11th          1048.0  32.363550  15.089307  17.0  18.0  28.5  43.0  90.0
12th           377.0  32.013263  14.373710  17.0  19.0  28.0  41.0  79.0
1st-4th        151.0  44.622517  14.929051  19.0  33.0  44.0  56.0  81.0
5th-6th        288.0  41.649306  14.754622  17.0  28.0  41.0  53.0  82.0
7th-8th        557.0  47.631957  15.737479  17.0  34.0  49.0  60.0  90.0
9th            455.0  40.303297  15.335754  17.0  28.0  38.0  53.0  90.0
Assoc-acdm    1008.0  37.286706  10.509755  19.0  29.0  36.0  44.0  90.0
Assoc-voc     1307.0  38.246366  11.181253  19.0  30.0  37.0  45.0  84.0
Bachelors     5044.0  38.641554  11.577566  19.0  29.0  37.0  46.0  90.0
Doctorate      375.0  47.130667  11.471727  24.0  39.0  47.0  54.0  80.0
HS-grad       9840.0  38.640955  13.067730  17.0  28.0  37.0  48.0  90.0
Masters       1627.0  43.740012  10.735356  18.0  36.0  43.0  50.0  90.0
Preschool       45.0  41.288889  15.175672  19.0  30.0  40.0  53.0  75.0
Prof-school    542.0  44.249077  11.428098  25.0  36.0  43.0  50.0  90.0
Some-college  6678.0  36.135370  13.073528  17.0  25.0  35.0  45.0  90.0

# Task 7
Compare the married and non-married men salaries. Who earns more? (>50K or <=50K)
Married men are those, whom `marital-status` starts with "Married". Others are not.

In [10]:
men = df.query('sex=="Male"')[["marital-status", "salary"]]

married_status = ["Married-civ-spouse", "Married-spouse-absent", "Married-AF-spouse"]

married_filter = men["marital-status"].isin(married_status)
married = men[married_filter].groupby("salary").value_counts()
not_married = men[~married_filter].groupby("salary").value_counts()

In [11]:
married

salary  marital-status
<=50K   Married-civ-spouse       6886
        Married-spouse-absent     161
        Married-AF-spouse           5
>50K    Married-civ-spouse       5699
        Married-spouse-absent      20
        Married-AF-spouse           4
Name: count, dtype: int64

In [12]:
not_married

salary  marital-status
<=50K   Never-married     5107
        Divorced          1407
        Separated          316
        Widowed            102
>50K    Never-married      307
        Divorced           278
        Separated           49
        Widowed             39
Name: count, dtype: int64

# Task 8
Get the max hours per week some person works. How many people works the same amount of hours per week?

In [36]:
max_hours_per_week = df["hours-per-week"].max()
max_hours_per_week

99

In [37]:
len(df[df["hours-per-week"] == max_hours_per_week])

78

# Task 9
Analyze the correlation between data in dataset. Understand connected fields in it and print highlight thier connection.

In [52]:
df["married"] = df["marital-status"].str.startswith("Married")

df["higher_education"] = df["education"].isin(["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"])

df.groupby("sex")[["age","hours-per-week", "salary K$", "married", "higher_education"]].corr()["salary K$"]

sex
Female  age                 0.123477
        hours-per-week      0.113233
        salary K$           1.000000
        married             0.399906
        higher_education    0.205569
Male    age                 0.227255
        hours-per-week      0.178803
        salary K$           1.000000
        married             0.318457
        higher_education    0.274518
Name: salary K$, dtype: float64

In [39]:
df.groupby("native-country")[["salary K$", "married", "higher_education"]].corr()["salary K$"]

native-country
Cambodia        salary K$           1.000000
                married             0.443513
                higher_education    0.323582
Canada          salary K$           1.000000
                married             0.536483
                                      ...
Vietnam         married             0.251304
                higher_education    0.102208
Yugoslavia      salary K$           1.000000
                married             0.460488
                higher_education    0.173711
Name: salary K$, Length: 123, dtype: float64

In [40]:
df_race_salary = df[["race", "salary K$"]]
df_race_salary = pd.get_dummies(df_race_salary, columns=["race"])
df_race_salary.corr()["salary K$"]

salary K$                  1.000000
race_Amer-Indian-Eskimo   -0.026346
race_Asian-Pac-Islander    0.011248
race_Black                -0.074815
race_Other                -0.028320
race_White                 0.071669
Name: salary K$, dtype: float64