In [7]:
import numpy as np
import pandas as pd

# Task 0
Read the dataset from csv file & perform data cleaning - remove all rows, which contains `?` in some columns.
Also check for data correctness (salary & salary $K).

In [88]:
people = pd.read_csv("/Users/admin/projects/py-adult-data-analysis/data/adult.csv", index_col=0)
people = people.replace('?', np.nan)
people["salary"].unique()

people[(people["salary K$"] <= 50) != (people["salary"].astype(str) == "<=50K")] | people[(people["salary K$"] > 50) != (people["salary"].astype(str) == ">50K")]

Empty DataFrame
Columns: [age, workclass, education, marital-status, occupation, relationship, race, sex, hours-per-week, native-country, salary, salary K$]
Index: []

# Task 1
Print the count of men and women in the dataset.

In [112]:
print(len(people[(people["sex"] == "Female")]))
print(len(people[(people["sex"] == "Male")]))

10771
21790
32561

# Task 2
Find the average age of men in dataset

In [113]:
males = people[(people["sex"] == "Male")]
males["age"].mean()

39.43354749885268

# Task 3
Get the percentage of people from Poland (native-country)

In [128]:
people_from_poland = (len(people[(people["native-country"] == "Poland")]) / len(people)) * 100
people_from_poland

0.18426952489174164

# Task 4
Get the mean and standard deviation of the age for people who earn > 50K per year. After this, get it for those who earn <= 50K.

In [135]:
print(people[(people["salary K$"] > 50)]["salary K$"].mean())
print(people[(people["salary K$"] > 50)]["salary K$"].std())

print(people[(people["salary K$"] <= 50)]["salary K$"].mean())
print(people[(people["salary K$"] <= 50)]["salary K$"].std())

200.8375207243974
87.08541652071891
32.02228964401294
10.127874341787786

# Task 5
Check, if there are some people without higher education (education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate), but with > 50K salary

In [156]:
count = (people[~(people["education"].isin(["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]))]["salary K$"] > 50).sum()
print(count)

3306

# Task 6
Get the statistics of age for each type of education. Use `groupby` and `describe` for this.

In [163]:
people.groupby("education")["age"].describe()

                count       mean        std   min    25%   50%   75%   max
education
10th            933.0  37.429796  16.720713  17.0  22.00  34.0  52.0  90.0
11th           1175.0  32.355745  15.545485  17.0  18.00  28.0  43.0  90.0
12th            433.0  32.000000  14.334625  17.0  19.00  28.0  41.0  79.0
1st-4th         168.0  46.142857  15.615625  19.0  33.00  46.0  57.0  90.0
5th-6th         333.0  42.885886  15.557285  17.0  29.00  42.0  54.0  84.0
7th-8th         646.0  48.445820  16.092350  17.0  34.25  50.0  61.0  90.0
9th             514.0  41.060311  15.946862  17.0  28.00  39.0  54.0  90.0
Assoc-acdm     1067.0  37.381443  11.095177  19.0  29.00  36.0  44.0  90.0
Assoc-voc      1382.0  38.553546  11.631300  19.0  30.00  37.0  46.0  84.0
Bachelors      5355.0  38.904949  11.912210  19.0  29.00  37.0  46.0  90.0
Doctorate       413.0  47.702179  11.784716  24.0  39.00  47.0  55.0  80.0
HS-grad       10501.0  38.974479  13.541524  17.0  28.00  37.0  48.0  90.0
Masters        1723.0  44.049913  11.068935  18.0  36.00  43.0  51.0  90.0
Preschool        51.0  42.764706  15.126914  19.0  31.00  41.0  53.5  75.0
Prof-school     576.0  44.746528  11.962477  25.0  36.00  43.0  51.0  90.0
Some-college   7291.0  35.756275  13.474051  17.0  24.00  34.0  45.0  90.0

# Task 7
Compare the married and non-married men salaries. Who earns more? (>50K or <=50K)
Married men are those, whom `marital-status` starts with "Married". Others are not.

In [172]:
married = (people[(people["marital-status"].str.startswith("Married"))]["salary K$"] > 50).sum()
not_married = (people[~(people["marital-status"].str.startswith("Married"))]["salary K$"] > 50).sum()
married > not_married

True

# Task 8
Get the max hours per week some person works. How many people works the same amount of hours per week?

In [175]:
max_hours_per_week = people["hours-per-week"].max()
count_people_max_hours = people[people["hours-per-week"] == max_hours_per_week].shape[0]
print(max_hours_per_week)
print(count_people_max_hours)

99
85

# Task 9
Analyze the correlation between data in dataset. Understand connected fields in it and print highlight thier connection.

In [189]:
columns = people.select_dtypes(include=['float64', 'int64'])
matrix = columns.corr()
threshold = 0.1 

pairs = (matrix.abs() > threshold) & (matrix < 1)

for col in matrix.columns:
    correlated_cols = pairs[col][pairs[col]].index
    if len(correlated_cols) > 0:
        print(f"{col} is highly correlated with: {', '.join(correlated_cols)}")

age is highly correlated with: salary K$
hours-per-week is highly correlated with: salary K$
salary K$ is highly correlated with: age, hours-per-week