In [3]:
import numpy as np
import pandas as pd

# Task 0
Read the dataset from csv file & perform data cleaning - remove all rows, which contains `?` in some columns.
Also check for data correctness (salary & salary $K).

In [4]:
data = pd.read_csv("../data/adult.csv")
mask = np.any(data == "?", axis=1)

data = data.drop(data[mask].index)

condition_mask = np.where(
    (data["salary"] == "<=50K") & (data["salary K$"] <= 50) | 
    (data["salary"] == ">50K") & (data["salary K$"] > 50),
    True, False
)

np.all(condition_mask)

np.True_

# Task 1
Print the count of men and women in the dataset.

In [5]:
data["sex"].value_counts()

sex
Male      20380
Female     9782
Name: count, dtype: int64

# Task 2
Find the average age of men in dataset

In [6]:
data[data["sex"] == "Male"]["age"].mean()

np.float64(39.18400392541707)

# Task 3
Get the percentage of people from Poland (native-country)

In [7]:
data[data["native-country"] == "Poland"]["age"].count()

np.int64(56)

# Task 4
Get the mean and standard deviation of the age for people who earn > 50K per year. After this, get it for those who earn <= 50K.

In [8]:
mask = data["salary K$"] > 50

data[mask]["age"].mean()
data[mask]["age"].std()

data[~mask]["age"].mean()
data[~mask]["age"].std()

np.float64(13.464631257161633)

# Task 5
Check, if there are some people without higher education (education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate), but with > 50K salary

In [9]:
data = data[data["salary K$"] > 50]
mask = data["education"].isin(["Bachelors", "Prof-school", "Assoc-asdm", "Masters", "Doctorate"])
data[~mask]

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
7,7,52,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,>50K,307
10,10,37,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,Black,Male,80,United-States,>50K,116
55,55,43,Private,Some-college,Married-civ-spouse,Tech-support,Husband,White,Male,40,United-States,>50K,341
67,67,53,Private,HS-grad,Married-civ-spouse,Adm-clerical,Wife,White,Female,40,United-States,>50K,225
68,68,49,Self-emp-inc,Some-college,Married-civ-spouse,Exec-managerial,Husband,White,Male,50,United-States,>50K,194
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32518,32518,57,Local-gov,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,>50K,116
32519,32519,46,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,White,Male,48,United-States,>50K,239
32545,32545,39,Local-gov,Assoc-acdm,Married-civ-spouse,Adm-clerical,Wife,White,Female,20,United-States,>50K,122
32557,32557,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K,173
32560,32560,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K,243

# Task 6
Get the statistics of age for each type of education. Use `groupby` and `describe` for this.

In [10]:
data.groupby("education")["age"].describe()

               count       mean        std   min    25%   50%    75%   max
education
10th            59.0  49.728814  10.416880  29.0  41.50  51.0  58.00  83.0
11th            59.0  42.966102  11.856856  22.0  34.50  44.0  51.00  65.0
12th            29.0  45.379310  13.083288  22.0  38.00  44.0  52.00  79.0
1st-4th          6.0  52.000000   6.164414  41.0  52.00  52.5  53.75  60.0
5th-6th         12.0  43.833333  11.991158  22.0  35.25  45.0  53.25  61.0
7th-8th         35.0  53.171429  13.546186  19.0  45.00  56.0  62.00  77.0
9th             25.0  49.080000  11.294984  28.0  40.00  49.0  57.00  72.0
Assoc-acdm     256.0  41.351562   9.058061  21.0  35.00  40.0  47.00  67.0
Assoc-voc      344.0  42.459302   9.839148  23.0  36.00  41.0  49.00  79.0
Bachelors     2126.0  42.412982  10.238966  22.0  35.00  42.0  49.00  90.0
Doctorate      280.0  48.071429  10.569885  28.0  40.00  47.5  54.00  79.0
HS-grad       1617.0  44.690167  10.344911  21.0  37.00  45.0  52.00  90.0
Masters        918.0  45.164488   9.335277  23.0  39.00  45.0  51.00  90.0
Prof-school    406.0  44.706897   9.820880  26.0  38.00  43.0  50.00  90.0
Some-college  1336.0  43.889222  10.261218  21.0  36.00  43.0  51.00  84.0

# Task 7
Compare the married and non-married men salaries. Who earns more? (>50K or <=50K)
Married men are those, whom `marital-status` starts with "Married". Others are not.

In [11]:
married_mask = data["marital-status"].str.startswith("Married")
married = data[married_mask]
not_married = data[~married_mask]

not_married["salary K$"].mean() < married["salary K$"].mean()

np.True_

# Task 8
Get the max hours per week some person works. How many people works the same amount of hours per week?

In [24]:
max_hour = data["hours-per-week"].max()
print(max_hour)
data["hours-per-week"].value_counts().to_frame().sort_values(by="hours-per-week")

99

                count
hours-per-week
1                   1
2                   2
3                   1
4                   2
5                   6
...               ...
95                  1
96                  1
97                  1
98                  3
99                 25

[80 rows x 1 columns]

# Task 9
Analyze the correlation between data in dataset. Understand connected fields in it and print highlight thier connection.

In [28]:
print(data[["age", "salary K$", "hours-per-week"]].corr())
print("With older age person`s salary growth along with working hours per week")

                     age  salary K$  hours-per-week
age             1.000000   0.208203        0.101599
salary K$       0.208203   1.000000        0.196378
hours-per-week  0.101599   0.196378        1.000000
With older age person`s salary growth along with working hours per week