In [1]:
import numpy as np
import pandas as pd

# Task 0
Read the dataset from csv file & perform data cleaning - remove all rows, which contains `?` in some columns.
Also check for data correctness (salary & salary $K).

In [114]:

adult = pd.read_csv("../data/adult.csv", index_col=[0])
adult = adult[~(adult == "?").any(axis=1)]

incorrect_salary = adult[
    ((adult["salary"] == "<=50K") & (adult["salary K$"] > 50)) |
    ((adult["salary"] == ">50K") & (adult["salary K$"] <= 50))
]
if not incorrect_salary.empty:
    print(incorrect_salary)

# Task 1
Print the count of men and women in the dataset.

In [115]:
sex_counts = adult["sex"].value_counts()
print(sex_counts)

sex
Male      20380
Female     9782
Name: count, dtype: int64

# Task 2
Find the average age of men in dataset

In [117]:
male_ages = adult[adult["sex"] == "Male"]["age"]
print(male_ages.mean())

39.18400392541707

# Task 3
Get the percentage of people from Poland (native-country)

In [118]:
print(adult["native-country"].value_counts(normalize=True).get("Poland") * 100)

0.18566408063125786

# Task 4
Get the mean and standard deviation of the age for people who earn > 50K per year. After this, get it for those who earn <= 50K.

In [119]:
age_with_more_than_50_k = adult[adult["salary"] == ">50K"]["age"]
print(">50K per ear")
print(age_with_more_than_50_k.mean())
print(age_with_more_than_50_k.std())
print("<=50K per ear")
age_with_less_or_equal_than_50_k = adult[adult["salary"] == "<=50K"]["age"]
print(age_with_less_or_equal_than_50_k.mean())
print(age_with_less_or_equal_than_50_k.std())

>50K per ear
43.95911028236548
10.269632835673852
<=50K per ear
36.60806038668668
13.464631257161633

# Task 5
Check, if there are some people without higher education (education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate), but with > 50K salary

In [123]:
higher_education = ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]
no_higher_education_high_salary = adult[
    (~adult["education"].isin(higher_education)) & (adult["salary"] == ">50K")
]
print(f"{len(no_higher_education_high_salary)} people without higher education earning more than 50K.")

3178 people without higher education earning more than 50K.

# Task 6
Get the statistics of age for each type of education. Use `groupby` and `describe` for this.

In [90]:
stats = adult.groupby("education")["age"]
stats.describe()

               count       mean        std   min   25%   50%   75%   max
education
10th           820.0  37.897561  16.225795  17.0  23.0  36.0  52.0  90.0
11th          1048.0  32.363550  15.089307  17.0  18.0  28.5  43.0  90.0
12th           377.0  32.013263  14.373710  17.0  19.0  28.0  41.0  79.0
1st-4th        151.0  44.622517  14.929051  19.0  33.0  44.0  56.0  81.0
5th-6th        288.0  41.649306  14.754622  17.0  28.0  41.0  53.0  82.0
7th-8th        557.0  47.631957  15.737479  17.0  34.0  49.0  60.0  90.0
9th            455.0  40.303297  15.335754  17.0  28.0  38.0  53.0  90.0
Assoc-acdm    1008.0  37.286706  10.509755  19.0  29.0  36.0  44.0  90.0
Assoc-voc     1307.0  38.246366  11.181253  19.0  30.0  37.0  45.0  84.0
Bachelors     5044.0  38.641554  11.577566  19.0  29.0  37.0  46.0  90.0
Doctorate      375.0  47.130667  11.471727  24.0  39.0  47.0  54.0  80.0
HS-grad       9840.0  38.640955  13.067730  17.0  28.0  37.0  48.0  90.0
Masters       1627.0  43.740012  10.735356  18.0  36.0  43.0  50.0  90.0
Preschool       45.0  41.288889  15.175672  19.0  30.0  40.0  53.0  75.0
Prof-school    542.0  44.249077  11.428098  25.0  36.0  43.0  50.0  90.0
Some-college  6678.0  36.135370  13.073528  17.0  25.0  35.0  45.0  90.0

# Task 7
Compare the married and non-married men salaries. Who earns more? (>50K or <=50K)
Married men are those, whom `marital-status` starts with "Married". Others are not.

In [130]:
males = adult["sex"] == "Male"
married = adult["marital-status"].str.startswith("Married")
married_males = adult[(males) & (married)]
non_married_males = adult[(males) & ~(married)]
married_salary_counts = married_males["salary"].value_counts()
non_married_salary_counts = non_married_males["salary"].value_counts()
print(married_salary_counts)
print(non_married_salary_counts)

salary
<=50K    7052
>50K     5723
Name: count, dtype: int64
salary
<=50K    6932
>50K      673
Name: count, dtype: int64

# Task 8
Get the max hours per week some person works. How many people works the same amount of hours per week?

In [135]:
max_hours = adult["hours-per-week"].max()
counth_of_people = adult["hours-per-week"].value_counts().get(adult["hours-per-week"].max())
print(f"{counth_of_people} people works {max_hours} hours per week")

78 people works 99 hours per week

# Task 9
Analyze the correlation between data in dataset. Understand connected fields in it and print highlight thier connection.

In [138]:
nums = adult.select_dtypes(include=["float64", "int64"])
nums.corr()

                     age  hours-per-week  salary K$
age             1.000000        0.101599   0.208203
hours-per-week  0.101599        1.000000   0.196378
salary K$       0.208203        0.196378   1.000000