In [4]:
import numpy as np
import pandas as pd

# Task 0
Read the dataset from csv file & perform data cleaning - remove all rows, which contains `?` in some columns.
Also check for data correctness (salary & salary $K).

In [28]:
df = pd.read_csv("/Users/stoveprofi/py-adult-data-analysis/data/adult.csv")
df = df[df != "?"]
df.dropna(inplace=True)
df.head(50)

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
0,0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K,39
1,1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K,35
2,2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K,27
3,3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K,43
4,4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K,25
5,5,37,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,<=50K,44
6,6,49,Private,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,16,Jamaica,<=50K,49
7,7,52,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,>50K,307
8,8,31,Private,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,50,United-States,>50K,330
9,9,42,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,>50K,303
10,10,37,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,Black,Male,80,United-States,>50K,116
11,11,30,State-gov,Bachelors,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,40,India,>50K,279
12,12,23,Private,Bachelors,Never-married,Adm-clerical,Own-child,White,Female,30,United-States,<=50K,27
13,13,32,Private,Assoc-acdm,Never-married,Sales,Not-in-family,Black,Male,50,United-States,<=50K,28
15,15,34,Private,7th-8th,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,45,Mexico,<=50K,15
16,16,25,Self-emp-not-inc,HS-grad,Never-married,Farming-fishing,Own-child,White,Male,35,United-States,<=50K,42
17,17,32,Private,HS-grad,Never-married,Machine-op-inspct,Unmarried,White,Male,40,United-States,<=50K,28
18,18,38,Private,11th,Married-civ-spouse,Sales,Husband,White,Male,50,United-States,<=50K,31
19,19,43,Self-emp-not-inc,Masters,Divorced,Exec-managerial,Unmarried,White,Female,45,United-States,>50K,151
20,20,40,Private,Doctorate,Married-civ-spouse,Prof-specialty,Husband,White,Male,60,United-States,>50K,265
21,21,54,Private,HS-grad,Separated,Other-service,Unmarried,Black,Female,20,United-States,<=50K,36
22,22,35,Federal-gov,9th,Married-civ-spouse,Farming-fishing,Husband,Black,Male,40,United-States,<=50K,39
23,23,43,Private,11th,Married-civ-spouse,Transport-moving,Husband,White,Male,40,United-States,<=50K,28
24,24,59,Private,HS-grad,Divorced,Tech-support,Unmarried,White,Female,40,United-States,<=50K,43
25,25,56,Local-gov,Bachelors,Married-civ-spouse,Tech-support,Husband,White,Male,40,United-States,>50K,117
26,26,19,Private,HS-grad,Never-married,Craft-repair,Own-child,White,Male,40,United-States,<=50K,39
28,28,39,Private,HS-grad,Divorced,Exec-managerial,Not-in-family,White,Male,80,United-States,<=50K,21
29,29,49,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,<=50K,16
30,30,23,Local-gov,Assoc-acdm,Never-married,Protective-serv,Not-in-family,White,Male,52,United-States,<=50K,37
31,31,20,Private,Some-college,Never-married,Sales,Own-child,Black,Male,44,United-States,<=50K,49
32,32,45,Private,Bachelors,Divorced,Exec-managerial,Own-child,White,Male,40,United-States,<=50K,18
33,33,30,Federal-gov,Some-college,Married-civ-spouse,Adm-clerical,Own-child,White,Male,40,United-States,<=50K,30
34,34,22,State-gov,Some-college,Married-civ-spouse,Other-service,Husband,Black,Male,15,United-States,<=50K,44
35,35,48,Private,11th,Never-married,Machine-op-inspct,Unmarried,White,Male,40,Puerto-Rico,<=50K,27
36,36,21,Private,Some-college,Never-married,Machine-op-inspct,Own-child,White,Male,40,United-States,<=50K,40
37,37,19,Private,HS-grad,Married-AF-spouse,Adm-clerical,Wife,White,Female,25,United-States,<=50K,30
39,39,48,Self-emp-not-inc,Assoc-acdm,Married-civ-spouse,Prof-specialty,Husband,White,Male,40,United-States,<=50K,41
40,40,31,Private,9th,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,43,United-States,<=50K,17
41,41,53,Self-emp-not-inc,Bachelors,Married-civ-spouse,Prof-specialty,Husband,White,Male,40,United-States,<=50K,47
42,42,24,Private,Bachelors,Married-civ-spouse,Tech-support,Husband,White,Male,50,United-States,<=50K,43
43,43,49,Private,HS-grad,Separated,Adm-clerical,Unmarried,White,Female,40,United-States,<=50K,44
44,44,25,Private,HS-grad,Never-married,Handlers-cleaners,Not-in-family,White,Male,35,United-States,<=50K,25
45,45,57,Federal-gov,Bachelors,Married-civ-spouse,Prof-specialty,Husband,Black,Male,40,United-States,>50K,268
46,46,53,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,38,United-States,<=50K,44
47,47,44,Private,Masters,Divorced,Exec-managerial,Unmarried,White,Female,40,United-States,<=50K,25
48,48,41,State-gov,Assoc-voc,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,<=50K,34
49,49,29,Private,Assoc-voc,Never-married,Prof-specialty,Not-in-family,White,Male,43,United-States,<=50K,26
50,50,25,Private,Some-college,Married-civ-spouse,Exec-managerial,Wife,Other,Female,40,United-States,<=50K,16
52,52,47,Private,Prof-school,Married-civ-spouse,Prof-specialty,Wife,White,Female,60,Honduras,>50K,254
53,53,50,Federal-gov,Bachelors,Divorced,Exec-managerial,Not-in-family,White,Male,55,United-States,>50K,332

In [35]:
unique_salary_50k = df["salary"].unique()
unique_salary_50k

array(['<=50K', '>50K'], dtype=object)

In [38]:
unique_salary_k = df["salary K$"].unique()
unique_salary_k

array([ 39,  35,  27,  43,  25,  44,  49, 307, 330, 303, 116, 279,  28,
        15,  42,  31, 151, 265,  36, 117,  21,  16,  37,  18,  30,  40,
        41,  17,  47, 268,  34,  26, 254, 332, 341,  38,  33,  19, 248,
        32, 225, 194, 301,  24,  45,  22, 278, 233,  48,  86, 166, 284,
       217, 120,  99, 323, 197,  23,  46, 250, 274, 244, 346, 171, 215,
        20, 140, 106, 266, 231, 242, 176, 339,  29, 125, 143,  70,  53,
       239,  73, 160, 329, 247, 145, 148, 316, 124, 199, 296, 112, 177,
        85,  83, 331, 286, 180, 214, 169, 256, 185, 115, 163, 276,  82,
       321, 261, 181, 167, 210,  79, 337, 328,  74, 183, 314, 334,  87,
       320, 347,  89,  55,  52, 348, 146, 251, 174, 234, 338, 227, 113,
       282, 269, 344, 184, 141, 158,  91, 263, 319, 285, 216, 155, 179,
       122,  97, 202, 153, 161, 236, 144, 182, 102,  67, 297, 230, 342,
        58, 188, 298, 100, 108, 260, 118,  95, 134, 240, 300,  59, 313,
        98, 223, 271, 150, 295, 280, 309, 209, 101, 224, 281, 222, 187,
        63,  66, 130, 105, 270, 294, 189, 259, 129, 349, 275, 147, 340,
       133, 200, 235,  57, 237, 107, 103, 253, 293, 198, 119, 206, 175,
       207, 127, 232, 111, 186, 110,  90, 126, 211,  84, 168,  60, 192,
       203, 212, 137, 132, 272,  96, 228, 208, 138, 172, 302, 218, 315,
       191, 277, 149, 238, 162, 308, 128, 304, 121,  51, 336, 326, 241,
        61, 262, 324, 317, 196,  69,  75, 159, 310, 264, 164, 258, 156,
       114, 311,  80,  77,  64, 243,  68, 229, 165, 292, 345, 245, 170,
       142, 252, 287, 305,  88, 221, 289,  62, 226, 267, 178, 204, 273,
       152, 327,  92, 190, 343, 154,  71, 219,  81, 288, 136, 322,  56,
       139, 205,  72, 249, 335, 333, 131,  65, 257, 104, 135, 325, 213,
       290, 109, 299, 220, 255, 283, 173,  76, 123,  93, 318, 201, 246,
       157, 306, 195,  78,  94, 193, 312, 291,  54])

In [42]:
type_salary_50k = df["salary"].dtypes
type_salary_50k

dtype('O')

In [39]:
type_salary_k = df["salary K$"].dtypes
type_salary_k

dtype('int64')

# Task 1

Print the count of men and women in the dataset.

In [4]:
Male = df[df["sex"] != "Female"].count()["sex"]
Female = df[df["sex"] != "Male"].count()["sex"]
f"Male: {Male} Female: {Female}"

NameError: name 'df' is not defined

# Task 2
Find the average age of men in dataset

In [312]:
df_male = df[df["sex"] != "Female"]
man_average_age = df.describe()["age"].loc["mean"]
man_average_age

38.437901995888865

# Task 3
Get the percentage of people from Poland (native-country)

In [169]:
amount = df.count()["native-country"]
Poland = df[df["native-country"] == "Poland"].count()["native-country"]
percent_poland = Poland * 100 / amount
percent_poland

0.18566408063125786

# Task 4
Get the mean and standard deviation of the age for people who earn > 50K per year. After this, get it for those who earn <= 50K.

In [232]:
salary_more_50 = df[df["salary"] == ">50K"]
salary_more_50.describe()["age"].loc[["mean", "std"]]

mean    43.959110
std     10.269633
Name: age, dtype: float64

In [316]:
salary_less_50 = df[df["salary"] == "<=50K"]
salary_less_50.describe()["age"].loc[["mean","std"]]

mean    36.608060
std     13.464631
Name: age, dtype: float64

# Task 5
Check, if there are some people without higher education (education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate), but with > 50K salary

In [200]:
df_education = salary_more_50[~salary_more_50.isin(["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"])]
df_education.dropna()

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
7,7,52,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,>50K,307
10,10,37,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,Black,Male,80,United-States,>50K,116
55,55,43,Private,Some-college,Married-civ-spouse,Tech-support,Husband,White,Male,40,United-States,>50K,341
67,67,53,Private,HS-grad,Married-civ-spouse,Adm-clerical,Wife,White,Female,40,United-States,>50K,225
68,68,49,Self-emp-inc,Some-college,Married-civ-spouse,Exec-managerial,Husband,White,Male,50,United-States,>50K,194
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32462,32462,48,Self-emp-inc,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,50,United-States,>50K,343
32518,32518,57,Local-gov,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,>50K,116
32519,32519,46,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,White,Male,48,United-States,>50K,239
32557,32557,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K,173
32560,32560,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K,243

# Task 6
Get the statistics of age for each type of education. Use `groupby` and `describe` for this.

In [280]:
# Task 6
statistics_of_age = df.groupby("education").describe()["age"]
statistics_of_age

               count       mean        std   min   25%   50%   75%   max
education
10th           820.0  37.897561  16.225795  17.0  23.0  36.0  52.0  90.0
11th          1048.0  32.363550  15.089307  17.0  18.0  28.5  43.0  90.0
12th           377.0  32.013263  14.373710  17.0  19.0  28.0  41.0  79.0
1st-4th        151.0  44.622517  14.929051  19.0  33.0  44.0  56.0  81.0
5th-6th        288.0  41.649306  14.754622  17.0  28.0  41.0  53.0  82.0
7th-8th        557.0  47.631957  15.737479  17.0  34.0  49.0  60.0  90.0
9th            455.0  40.303297  15.335754  17.0  28.0  38.0  53.0  90.0
Assoc-acdm    1008.0  37.286706  10.509755  19.0  29.0  36.0  44.0  90.0
Assoc-voc     1307.0  38.246366  11.181253  19.0  30.0  37.0  45.0  84.0
Bachelors     5044.0  38.641554  11.577566  19.0  29.0  37.0  46.0  90.0
Doctorate      375.0  47.130667  11.471727  24.0  39.0  47.0  54.0  80.0
HS-grad       9840.0  38.640955  13.067730  17.0  28.0  37.0  48.0  90.0
Masters       1627.0  43.740012  10.735356  18.0  36.0  43.0  50.0  90.0
Preschool       45.0  41.288889  15.175672  19.0  30.0  40.0  53.0  75.0
Prof-school    542.0  44.249077  11.428098  25.0  36.0  43.0  50.0  90.0
Some-college  6678.0  36.135370  13.073528  17.0  25.0  35.0  45.0  90.0

# Task 7
Compare the married and non-married men salaries. Who earns more? (>50K or <=50K)
Married men are those, whom `marital-status` starts with "Married". Others are not.

In [317]:
married_earns_more_50 = len(salary_more_50[salary_more_50["marital-status"].str.match("Married")])
married_earns_less_50 = len(salary_less_50[salary_less_50["marital-status"].str.match("Married")])

not_married_earns_more_50 = len(salary_more_50[~salary_more_50["marital-status"].str.match("Married")])
not_married_earns_less_50 = len(salary_less_50[~salary_less_50["marital-status"].str.match("Married")])

married_dataset = {
  "Married": [married_earns_more_50, married_earns_less_50],
  "Not_Married": [not_married_earns_more_50, not_married_earns_less_50]
}

pd.DataFrame(married_dataset, index=[">50K", "<=50K"])

       Married  Not_Married
>50K      6440         1068
<=50K     8016        14638

# Task 8
Get the max hours per week some person works. How many people works the same amount of hours per week?

In [44]:
max_hours_per_week = df[df["hours-per-week"] == df["hours-per-week"].max()]
max_hours_per_week

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
935,935,37,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,99,United-States,>50K,274
1172,1172,25,Private,Masters,Married-civ-spouse,Farming-fishing,Not-in-family,White,Male,99,United-States,>50K,207
1887,1887,55,Self-emp-not-inc,Some-college,Married-civ-spouse,Farming-fishing,Husband,White,Male,99,United-States,>50K,188
3578,3578,37,Self-emp-inc,Doctorate,Married-civ-spouse,Prof-specialty,Husband,Black,Male,99,United-States,>50K,136
4308,4308,35,Self-emp-not-inc,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,99,United-States,<=50K,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30754,30754,31,Private,Prof-school,Never-married,Prof-specialty,Not-in-family,White,Female,99,United-States,<=50K,31
30766,30766,42,Self-emp-not-inc,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,99,United-States,>50K,290
30992,30992,40,Self-emp-inc,Masters,Never-married,Other-service,Own-child,White,Male,99,United-States,<=50K,48
31681,31681,43,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,99,United-States,>50K,237
31699,31699,43,Self-emp-not-inc,Some-college,Married-civ-spouse,Farming-fishing,Husband,White,Male,99,United-States,<=50K,40

In [47]:
number_of_people_work_max_hours = max_hours_per_week.count()["Unnamed: 0"]
number_of_people_work_max_hours

78

# Task 9
Analyze the correlation between data in dataset. Understand connected fields in it and print highlight their connection.

In [319]:
df["is_male"] = np.where(df["sex"] == "Male", True, False)
df["is_female"] = np.where(df["sex"] == "Female", True, False)
df.corr(numeric_only=True)

,Unnamed: 0,age,hours-per-week,salary K$,is_male,is_female
Unnamed: 0,1.000000,-0.001126,-0.001890,0.000129,-0.001405,0.001405
age,-0.001126,1.000000,0.101599,0.208203,0.081993,-0.081993
hours-per-week,-0.001890,0.101599,1.000000,0.196378,0.231268,-0.231268
salary K$,0.000129,0.208203,0.196378,1.000000,0.182642,-0.182642
is_male,-0.001405,0.081993,0.231268,0.182642,1.000000,-1.000000
is_female,0.001405,-0.081993,-0.231268,-0.182642,-1.000000,1.000000