In [3]:
import numpy as np
import pandas as pd

# Task 0
Read the dataset from csv file & perform data cleaning - remove all rows, which contains `?` in some columns.
Also check for data correctness (salary & salary $K).

In [10]:
adult = pd.read_csv("../data/adult.csv", index_col=[0]).replace("?", np.nan)
adult.dropna(inplace=True)

if adult[adult["salary K$"] > 50][adult["salary"] == "<=50K"].shape[0] == 0 and adult[adult["salary K$"] <= 50][adult["salary"] == ">50K"].shape[0] == 0:
    print("Rows salary and salary $K are correct!")

Rows salary and salary $K are correct!

C:\Users\user\AppData\Local\Temp\ipykernel_2340\2321237246.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if adult[adult["salary K$"] > 50][adult["salary"] == "<=50K"].shape[0] == 0 and adult[adult["salary K$"] <= 50][adult["salary"] == ">50K"].shape[0] == 0:

# Task 1
Print the count of men and women in the dataset.

In [11]:
men = adult[adult["sex"] == "Male"].shape[0]
women = adult[adult["sex"] == "Female"].shape[0]
f"Men -> {men}, Women -> {women}"

'Men -> 20380, Women -> 9782'

# Task 2
Find the average age of men in dataset

In [9]:
f'The average age of men {round(adult[adult["sex"] == "Male"]["age"].mean(), 2)}'

'The average age of men 39.18'

# Task 3
Get the percentage of people from Poland (native-country)

In [13]:
all_people = adult.shape[0]
people_from_poland = adult[adult["native-country"] == "Poland"]["age"].count()
f"The percentage of people from Poland {round((people_from_poland * 100) / all_people, 2)}%"

'The percentage of people from Poland 0.19%'

# Task 4
Get the mean and standard deviation of the age for people who earn > 50K per year. After this, get it for those who earn <= 50K.

In [19]:
more_than_50K = adult[adult["salary K$"] > 50]["age"]
less_than_50K = adult[adult["salary K$"] <= 50]["age"]
f"People who earn > 50K per year: mean -> {more_than_50K.mean()}, standard deviation -> {more_than_50K.std()}; People who earn <= 50K per year: mean -> {less_than_50K.mean()}, standard deviation -> {less_than_50K.std()};"

'People who earn > 50K per year: mean -> 43.95911028236548, standard deviation -> 10.269632835673852; People who earn <= 50K per year: mean -> 36.60806038668668, standard deviation -> 13.464631257161633;'

# Task 5
Check, if there are some people without higher education (education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate), but with > 50K salary

In [23]:
adult[adult["salary K$"] > 50][~adult["education"].isin(["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"])]["education"].value_counts()

C:\Users\user\AppData\Local\Temp\ipykernel_3364\17312089.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  adult[adult["salary K$"] > 50][~adult["education"].isin(["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"])]["education"].value_counts()

HS-grad         1617
Some-college    1336
10th              59
11th              59
7th-8th           35
12th              29
9th               25
5th-6th           12
1st-4th            6
Name: education, dtype: int64

# Task 6
Get the statistics of age for each type of education. Use `groupby` and `describe` for this.

In [24]:
adult.groupby(adult["education"])["age"].describe()

               count       mean        std   min   25%   50%   75%   max
education
10th           820.0  37.897561  16.225795  17.0  23.0  36.0  52.0  90.0
11th          1048.0  32.363550  15.089307  17.0  18.0  28.5  43.0  90.0
12th           377.0  32.013263  14.373710  17.0  19.0  28.0  41.0  79.0
1st-4th        151.0  44.622517  14.929051  19.0  33.0  44.0  56.0  81.0
5th-6th        288.0  41.649306  14.754622  17.0  28.0  41.0  53.0  82.0
7th-8th        557.0  47.631957  15.737479  17.0  34.0  49.0  60.0  90.0
9th            455.0  40.303297  15.335754  17.0  28.0  38.0  53.0  90.0
Assoc-acdm    1008.0  37.286706  10.509755  19.0  29.0  36.0  44.0  90.0
Assoc-voc     1307.0  38.246366  11.181253  19.0  30.0  37.0  45.0  84.0
Bachelors     5044.0  38.641554  11.577566  19.0  29.0  37.0  46.0  90.0
Doctorate      375.0  47.130667  11.471727  24.0  39.0  47.0  54.0  80.0
HS-grad       9840.0  38.640955  13.067730  17.0  28.0  37.0  48.0  90.0
Masters       1627.0  43.740012  10.735356  18.0  36.0  43.0  50.0  90.0
Preschool       45.0  41.288889  15.175672  19.0  30.0  40.0  53.0  75.0
Prof-school    542.0  44.249077  11.428098  25.0  36.0  43.0  50.0  90.0
Some-college  6678.0  36.135370  13.073528  17.0  25.0  35.0  45.0  90.0

# Task 7
Compare the married and non-married men salaries. Who earns more? (>50K or <=50K)
Married men are those, whom `marital-status` starts with "Married". Others are not.

In [29]:
married_men = adult[adult["marital-status"].str.startswith("Married")][adult["sex"] == "Male"]
not_married_men = adult[adult["marital-status"].isin(["Never-married", "Divorced", "Separated", "Widowed"])][adult["sex"] == "Male"]

married_men["salary"].value_counts(), not_married_men["salary"].value_counts()

C:\Users\user\AppData\Local\Temp\ipykernel_3364\3161884653.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  married_men = adult[adult["marital-status"].str.startswith("Married")][adult["sex"] == "Male"]
C:\Users\user\AppData\Local\Temp\ipykernel_3364\3161884653.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  not_married_men = adult[adult["marital-status"].isin(["Never-married", "Divorced", "Separated", "Widowed"])][adult["sex"] == "Male"]

(<=50K    7052
 >50K     5723
 Name: salary, dtype: int64,
 <=50K    6932
 >50K      673
 Name: salary, dtype: int64)

# Task 8
Get the max hours per week some person works. How many people works the same amount of hours per week?

In [30]:
max_hours = adult["hours-per-week"].max()
adult["hours-per-week"].value_counts().sort_index()

1      7
2     15
3     24
4     27
5     38
      ..
95     2
96     5
97     2
98    11
99    78
Name: hours-per-week, Length: 94, dtype: int64

# Task 9
Analyze the correlation between data in dataset. Understand connected fields in it and print highlight thier connection.

In [31]:
adult.corr()

                     age  hours-per-week  salary K$
age             1.000000        0.101599   0.208203
hours-per-week  0.101599        1.000000   0.196378
salary K$       0.208203        0.196378   1.000000