In [1]:
import numpy as np
import pandas as pd

# Task 0
Read the dataset from csv file & perform data cleaning - remove all rows, which contains `?` in some columns.
Also check for data correctness (salary & salary $K).

In [7]:
# write your code for task 0 here
people = pd.read_csv(r"C:\Users\danii\py-adult-data-analysis\data\adult.csv", index_col=[0])
people.head()

,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K,39
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K,35
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K,27
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K,43
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K,25

In [8]:
people.info()
people.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32561 entries, 0 to 32560
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   education       32561 non-null  object
 3   marital-status  32561 non-null  object
 4   occupation      32561 non-null  object
 5   relationship    32561 non-null  object
 6   race            32561 non-null  object
 7   sex             32561 non-null  object
 8   hours-per-week  32561 non-null  int64
 9   native-country  32561 non-null  object
 10  salary          32561 non-null  object
 11  salary K$       32561 non-null  int64
dtypes: int64(3), object(9)
memory usage: 3.2+ MB

                age  hours-per-week     salary K$
count  32561.000000    32561.000000  32561.000000
mean      38.581647       40.437456     72.674611
std       13.640433       12.347429     84.345976
min       17.000000        1.000000     15.000000
25%       28.000000       40.000000     26.000000
50%       37.000000       40.000000     38.000000
75%       48.000000       45.000000     49.000000
max       90.000000       99.000000    349.000000

In [9]:
people_cleaned = people[~people.isin(["?"]).any(axis=1)]
people_cleaned

,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K,39
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K,35
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K,27
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K,43
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K,25
...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,38,United-States,<=50K,36
32557,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K,173
32558,58,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,40,United-States,<=50K,40
32559,22,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,20,United-States,<=50K,38
32560,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K,243

In [13]:
incorrect_rows = people_cleaned[
    ((people_cleaned["salary"] == "<=50K") & (people_cleaned["salary K$"] > 50)) |
    ((people_cleaned["salary"] == ">50K") & (people_cleaned["salary K$"] <= 50))
]
incorrect_rows

Empty DataFrame
Columns: [age, workclass, education, marital-status, occupation, relationship, race, sex, hours-per-week, native-country, salary, salary K$]
Index: []

# Task 1
Print the count of men and women in the dataset.

In [17]:
# write your code for task 1 here
men = people_cleaned[people_cleaned["sex"] == "Male"]
print(men.shape[0])
women = people_cleaned[people_cleaned["sex"] == "Female"]
print(women.shape[0])

20380
9782

# Task 2
Find the average age of men in dataset

In [19]:
# write your code for task 2 here
avg_age = np.average(men["age"])
print(avg_age)

39.18400392541707

# Task 3
Get the percentage of people from Poland (native-country)

In [25]:
# write your code for task 3 here
poland = people_cleaned[people_cleaned["native-country"] == "Poland"].shape[0]
total = people_cleaned.shape[0]
print(poland/total*100)

0.18566408063125786

# Task 4
Get the mean and standard deviation of the age for people who earn > 50K per year. After this, get it for those who earn <= 50K.

In [28]:
# write your code for task 4 here
high_income = people_cleaned[people_cleaned['salary'] == '>50K']['age']
mean_high_income = high_income.mean()
std_high_income = high_income.std()

# For people earning <= 50K
low_income = people_cleaned[people_cleaned['salary'] == '<=50K']['age']
mean_low_income = low_income.mean()
std_low_income = low_income.std()

print(mean_high_income)
print(std_high_income)
print(mean_low_income)
print(std_low_income)

43.95911028236548
10.269632835673852
36.60806038668668
13.464631257161633

# Task 5
Check, if there are some people without higher education (education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate), but with > 50K salary

In [29]:
# write your code for task 5 here
higher_education = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
no_higher_education_and_high_income = people_cleaned[~people_cleaned['education'].isin(higher_education) & (people_cleaned['salary'] == '>50K')]
print(no_higher_education_and_high_income.shape[0])

3178

# Task 6
Get the statistics of age for each type of education. Use `groupby` and `describe` for this.

In [31]:
# write your code for task 6 here
education_stats = people_cleaned.groupby('education')['age'].describe()
education_stats

               count       mean        std   min   25%   50%   75%   max
education
10th           820.0  37.897561  16.225795  17.0  23.0  36.0  52.0  90.0
11th          1048.0  32.363550  15.089307  17.0  18.0  28.5  43.0  90.0
12th           377.0  32.013263  14.373710  17.0  19.0  28.0  41.0  79.0
1st-4th        151.0  44.622517  14.929051  19.0  33.0  44.0  56.0  81.0
5th-6th        288.0  41.649306  14.754622  17.0  28.0  41.0  53.0  82.0
7th-8th        557.0  47.631957  15.737479  17.0  34.0  49.0  60.0  90.0
9th            455.0  40.303297  15.335754  17.0  28.0  38.0  53.0  90.0
Assoc-acdm    1008.0  37.286706  10.509755  19.0  29.0  36.0  44.0  90.0
Assoc-voc     1307.0  38.246366  11.181253  19.0  30.0  37.0  45.0  84.0
Bachelors     5044.0  38.641554  11.577566  19.0  29.0  37.0  46.0  90.0
Doctorate      375.0  47.130667  11.471727  24.0  39.0  47.0  54.0  80.0
HS-grad       9840.0  38.640955  13.067730  17.0  28.0  37.0  48.0  90.0
Masters       1627.0  43.740012  10.735356  18.0  36.0  43.0  50.0  90.0
Preschool       45.0  41.288889  15.175672  19.0  30.0  40.0  53.0  75.0
Prof-school    542.0  44.249077  11.428098  25.0  36.0  43.0  50.0  90.0
Some-college  6678.0  36.135370  13.073528  17.0  25.0  35.0  45.0  90.0

# Task 7
Compare the married and non-married men salaries. Who earns more? (>50K or <=50K)
Married men are those, whom `marital-status` starts with "Married". Others are not.

In [34]:
# write your code for task 7 here
men = people_cleaned[people_cleaned['sex'] == 'Male']

married_men = men[men['marital-status'].str.startswith('Married')]
non_married_men = men[~men['marital-status'].str.startswith('Married')]

married_men_high_income = married_men[married_men['salary'] == '>50K']
married_men_low_income = married_men[married_men['salary'] == '<=50K']

print(married_men_low_income.shape[0])
print(married_men_high_income.shape[0])

non_married_men_high_income = non_married_men[non_married_men['salary'] == '>50K']
non_married_men_low_income = non_married_men[non_married_men['salary'] == '<=50K']

print(non_married_men_low_income.shape[0])
print(non_married_men_high_income.shape[0])

7052
5723
6932
673

# Task 8
Get the max hours per week some person works. How many people works the same amount of hours per week?

In [35]:
max_hours = people_cleaned['hours-per-week'].max()

max_hours_count = (people_cleaned['hours-per-week'] == max_hours).sum()
max_hours_count

78

# Task 9
Analyze the correlation between data in dataset. Understand connected fields in it and print highlight thier connection.

In [36]:
# write your code for task 9 here
correlation_matrix = people_cleaned.corr()
correlation_matrix

                     age  hours-per-week  salary K$
age             1.000000        0.101599   0.208203
hours-per-week  0.101599        1.000000   0.196378
salary K$       0.208203        0.196378   1.000000