In [2]:
import numpy as np
import pandas as pd

/var/folders/3p/f_d4xgl51tqd51v7x_vv4rdh0000gp/T/ipykernel_17368/3269992828.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Task 0
Read the dataset from csv file & perform data cleaning - remove all rows, which contains `?` in some columns.
Also check for data correctness (salary & salary $K).

In [80]:
# write your code for task 0 here
df = pd.read_csv("../data/adult.csv", index_col=0)
df = df.replace('?', np.nan)
df = df.dropna()
df["salary"].value_counts()
# df["salary K$"].value_counts()

salary
<=50K    22654
>50K      7508
Name: count, dtype: int64

# Task 1
Print the count of men and women in the dataset.

In [81]:
# write your code for task 1 here
df["sex"].describe()
sex_count = df["sex"].value_counts()
sex_count

sex
Male      20380
Female     9782
Name: count, dtype: int64

# Task 2
Find the average age of men in dataset

In [82]:
# write your code for task 2 here
men = df[df["sex"] == "Male"]
men_avg_age = men["age"].mean()
men_avg_age

39.18400392541707

# Task 3
Get the percentage of people from Poland (native-country)

In [83]:
# write your code for task 3 here
poles = df[df["native-country"] == "Poland"]
poles_percentage = poles.shape[0] / df.shape[0] * 100
poles_percentage

0.18566408063125786

# Task 4
Get the mean and standard deviation of the age for people who earn > 50K per year. After this, get it for those who earn <= 50K.

In [84]:
# write your code for task 4 here
more50 = df[df["salary"] == ">50K"]
more50_mean = more50["age"].mean()
more50_sd = more50["age"].std()
less50 = df[df["salary"] == "<=50K"]
less50_mean = less50["age"].mean()
less50_sd = less50["age"].std()
more50_mean, more50_sd, less50_mean, less50_sd

(43.95911028236548, 10.269632835673852, 36.60806038668668, 13.464631257161633)

# Task 5
Check, if there are some people without higher education (education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate), but with > 50K salary

In [85]:
# write your code for task 5 here
high_ed = ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]
high_ed_people = df[df["education"].isin(high_ed)]
high_ed_people_more50 = high_ed_people[high_ed_people["salary"] == ">50K"]
high_ed_people_more50.shape[0] == 0

False

# Task 6
Get the statistics of age for each type of education. Use `groupby` and `describe` for this.

In [86]:
# write your code for task 6 here
df.groupby("education")["age"].describe()

               count       mean        std   min   25%   50%   75%   max
education
10th           820.0  37.897561  16.225795  17.0  23.0  36.0  52.0  90.0
11th          1048.0  32.363550  15.089307  17.0  18.0  28.5  43.0  90.0
12th           377.0  32.013263  14.373710  17.0  19.0  28.0  41.0  79.0
1st-4th        151.0  44.622517  14.929051  19.0  33.0  44.0  56.0  81.0
5th-6th        288.0  41.649306  14.754622  17.0  28.0  41.0  53.0  82.0
7th-8th        557.0  47.631957  15.737479  17.0  34.0  49.0  60.0  90.0
9th            455.0  40.303297  15.335754  17.0  28.0  38.0  53.0  90.0
Assoc-acdm    1008.0  37.286706  10.509755  19.0  29.0  36.0  44.0  90.0
Assoc-voc     1307.0  38.246366  11.181253  19.0  30.0  37.0  45.0  84.0
Bachelors     5044.0  38.641554  11.577566  19.0  29.0  37.0  46.0  90.0
Doctorate      375.0  47.130667  11.471727  24.0  39.0  47.0  54.0  80.0
HS-grad       9840.0  38.640955  13.067730  17.0  28.0  37.0  48.0  90.0
Masters       1627.0  43.740012  10.735356  18.0  36.0  43.0  50.0  90.0
Preschool       45.0  41.288889  15.175672  19.0  30.0  40.0  53.0  75.0
Prof-school    542.0  44.249077  11.428098  25.0  36.0  43.0  50.0  90.0
Some-college  6678.0  36.135370  13.073528  17.0  25.0  35.0  45.0  90.0

# Task 7
Compare the married and non-married men salaries. Who earns more? (>50K or <=50K)
Married men are those, whom `marital-status` starts with "Married". Others are not.

In [87]:
# write your code for task 7 here
married_filter = df["marital-status"].str.startswith("Married")
male_filter = df["sex"] == "Male"
married_men = df[married_filter & male_filter]
not_married_men = df[~married_filter & male_filter]
rich_married_prop = married_men["salary"].value_counts()[">50K"] / married_men["salary"].value_counts()["<=50K"]
rich_not_married_prop = not_married_men["salary"].value_counts()[">50K"] / not_married_men["salary"].value_counts()["<=50K"]
rich_married_prop, rich_not_married_prop

(0.8115428247305729, 0.09708597807270629)

# Task 8
Get the max hours per week some person works. How many people works the same amount of hours per week?

In [88]:
# write your code for task 8 here
max_hours = df["hours-per-week"].max()
max_hours_count = df[df["hours-per-week"] == max_hours].shape[0]
max_hours, max_hours_count

(99, 78)

# Task 9
Analyze the correlation between data in dataset. Understand connected fields in it and print highlight thier connection.

In [95]:
# write your code for task 9 here
df_encoded = pd.get_dummies(df, columns=["sex"])
df_encoded = df_encoded.replace({True: 1, False: 0})
numerical_df = df_encoded.select_dtypes(include=[np.number])
correlation = numerical_df.corr()
correlation
# """
#     The most notable correlations are: 
#     1) hours*sex (males tend to work more)
#     2) age*salary (older people tend to earn more)
# """

/var/folders/3p/f_d4xgl51tqd51v7x_vv4rdh0000gp/T/ipykernel_17368/1839574190.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_encoded = df_encoded.replace({True: 1, False: 0})

                     age  hours-per-week  salary K$  sex_Female  sex_Male
age             1.000000        0.101599   0.208203   -0.081993  0.081993
hours-per-week  0.101599        1.000000   0.196378   -0.231268  0.231268
salary K$       0.208203        0.196378   1.000000   -0.182642  0.182642
sex_Female     -0.081993       -0.231268  -0.182642    1.000000 -1.000000
sex_Male        0.081993        0.231268   0.182642   -1.000000  1.000000