In [1]:
import numpy as np
import pandas as pd

# Task 0
Read the dataset from csv file & perform data cleaning - remove all rows, which contains `?` in some columns.
Also check for data correctness (salary & salary $K).

In [295]:
df = pd.read_csv("../data/adult.csv", index_col=[0])
df[df.loc[:] == "?"] = np.nan
df.info()
(df["salary"] == ">50K").sum() + (df["salary"] == "<=50K").sum() == df["salary K$"].count() == len(df)

<class 'pandas.core.frame.DataFrame'>
Index: 32561 entries, 0 to 32560
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   education       32561 non-null  object
 3   marital-status  32561 non-null  object
 4   occupation      30718 non-null  object
 5   relationship    32561 non-null  object
 6   race            32561 non-null  object
 7   sex             32561 non-null  object
 8   hours-per-week  32561 non-null  int64
 9   native-country  31978 non-null  object
 10  salary          32561 non-null  object
 11  salary K$       32561 non-null  int64
dtypes: int64(3), object(9)
memory usage: 3.2+ MB

True

# Task 1
Print the count of men and women in the dataset.

In [241]:
print("Count of men:", (df["sex"] == "Male").sum())
print("Count of women:", (df["sex"] == "Female").sum())

Count of men: 21790
Count of women: 10771

# Task 2
Find the average age of men in dataset

In [242]:
print("Average age of men:", np.round(df["age"][df["sex"] == "Male"].mean(), 2))

Average age of men: 39.43

# Task 3
Get the percentage of people from Poland (native-country)

In [243]:
print("Percentage of people from Poland:", str(np.round((df["native-country"] == "Poland").sum() / df["native-country"].count() * 100, 2)) + "%")

Percentage of people from Poland: 0.19%

# Task 4
Get the mean and standard deviation of the age for people who earn > 50K per year. After this, get it for those who earn <= 50K.

In [244]:
print("Mean deviation for people who earn > 50K per year:", df[df["salary"] == ">50K"]["age"].mean())
print("Standard deviation for people who earn > 50K per year:", df[df["salary"] == ">50K"]["age"].std())
print("Mean deviation for people who earn <= 50K per year:", df[df["salary"] == "<=50K"]["age"].mean())
print("Standard deviation for people who earn <= 50K per year:", df[df["salary"] == "<=50K"]["age"].std())

Mean deviation for people who earn > 50K per year: 44.24984058155847
Standard deviation for people who earn > 50K per year: 10.519027719851826
Mean deviation for people who earn <= 50K per year: 36.78373786407767
Standard deviation for people who earn <= 50K per year: 14.02008849082488

# Task 5
Check, if there are some people without higher education (education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate), but with > 50K salary

In [245]:
df[(df["salary"] == ">50K") & (~df["education"].isin(["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]))]

,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
7,52,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,>50K,307
10,37,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,Black,Male,80,United-States,>50K,116
27,54,NaN,Some-college,Married-civ-spouse,NaN,Husband,Asian-Pac-Islander,Male,60,South,>50K,275
38,31,Private,Some-college,Married-civ-spouse,Sales,Husband,White,Male,38,NaN,>50K,166
55,43,Private,Some-college,Married-civ-spouse,Tech-support,Husband,White,Male,40,United-States,>50K,341
...,...,...,...,...,...,...,...,...,...,...,...,...
32510,39,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,45,NaN,>50K,212
32518,57,Local-gov,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,>50K,116
32519,46,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,White,Male,48,United-States,>50K,239
32557,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K,173
32560,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K,243

# Task 6
Get the statistics of age for each type of education. Use `groupby` and `describe` for this.

In [246]:
df.groupby(df["education"]).describe()

                  age                                                       \
                count       mean        std   min    25%   50%   75%   max
education
10th            933.0  37.429796  16.720713  17.0  22.00  34.0  52.0  90.0
11th           1175.0  32.355745  15.545485  17.0  18.00  28.0  43.0  90.0
12th            433.0  32.000000  14.334625  17.0  19.00  28.0  41.0  79.0
1st-4th         168.0  46.142857  15.615625  19.0  33.00  46.0  57.0  90.0
5th-6th         333.0  42.885886  15.557285  17.0  29.00  42.0  54.0  84.0
7th-8th         646.0  48.445820  16.092350  17.0  34.25  50.0  61.0  90.0
9th             514.0  41.060311  15.946862  17.0  28.00  39.0  54.0  90.0
Assoc-acdm     1067.0  37.381443  11.095177  19.0  29.00  36.0  44.0  90.0
Assoc-voc      1382.0  38.553546  11.631300  19.0  30.00  37.0  46.0  84.0
Bachelors      5355.0  38.904949  11.912210  19.0  29.00  37.0  46.0  90.0
Doctorate       413.0  47.702179  11.784716  24.0  39.00  47.0  55.0  80.0
HS-grad       10501.0  38.974479  13.541524  17.0  28.00  37.0  48.0  90.0
Masters        1723.0  44.049913  11.068935  18.0  36.00  43.0  51.0  90.0
Preschool        51.0  42.764706  15.126914  19.0  31.00  41.0  53.5  75.0
Prof-school     576.0  44.746528  11.962477  25.0  36.00  43.0  51.0  90.0
Some-college   7291.0  35.756275  13.474051  17.0  24.00  34.0  45.0  90.0

             hours-per-week             ...             salary K$              \
                      count       mean  ...   75%   max     count        mean
education                               ...
10th                  933.0  37.052519  ...  40.0  99.0     933.0   42.839228
11th                 1175.0  33.925957  ...  40.0  99.0    1175.0   40.612766
12th                  433.0  35.780600  ...  40.0  99.0     433.0   42.914550
1st-4th               168.0  38.255952  ...  40.0  96.0     168.0   37.279762
5th-6th               333.0  38.897898  ...  40.0  84.0     333.0   40.339339
7th-8th               646.0  39.366873  ...  40.0  99.0     646.0   42.371517
9th                   514.0  38.044747  ...  40.0  99.0     514.0   42.558366
Assoc-acdm           1067.0  40.504217  ...  45.0  99.0    1067.0   74.993440
Assoc-voc            1382.0  41.610709  ...  45.0  99.0    1382.0   76.188133
Bachelors            5355.0  42.614006  ...  50.0  99.0    5355.0  101.882353
Doctorate             413.0  46.973366  ...  55.0  99.0     413.0  154.125908
HS-grad             10501.0  40.575374  ...  42.0  99.0   10501.0   59.573469
Masters              1723.0  43.836332  ...  50.0  99.0    1723.0  123.163088
Preschool              51.0  36.647059  ...  40.0  75.0      51.0   32.627451
Prof-school           576.0  47.425347  ...  55.0  99.0     576.0  154.435764
Some-college         7291.0  38.852284  ...  43.0  99.0    7291.0   64.214785


                     std   min   25%    50%     75%    max
education
10th           45.825943  15.0  25.0   33.0   43.00  347.0
11th           44.638571  15.0  24.0   32.0   41.50  345.0
12th           48.118195  15.0  24.0   33.0   42.00  349.0
1st-4th        32.745055  15.0  24.0   32.5   42.00  279.0
5th-6th        43.082740  15.0  23.0   33.0   43.00  347.0
7th-8th        46.883574  15.0  24.0   33.0   43.00  347.0
9th            49.175715  15.0  24.0   33.0   42.00  349.0
Assoc-acdm     86.975212  15.0  26.5   38.0   49.00  349.0
Assoc-voc      86.673738  15.0  27.0   39.0   62.75  349.0
Bachelors     101.141882  15.0  29.0   44.0  171.00  349.0
Doctorate     100.973940  15.0  48.0  149.0  237.00  349.0
HS-grad        72.797540  15.0  25.0   35.0   46.00  349.0
Masters       104.275174  15.0  35.0   80.0  203.50  349.0
Preschool       9.378616  15.0  23.0   35.0   39.00   49.0
Prof-school   104.379055  15.0  48.0  143.0  247.00  346.0
Some-college   76.643931  15.0  25.0   37.0   47.00  349.0

[16 rows x 24 columns]

# Task 7
Compare the married and non-married men salaries. Who earns more? (>50K or <=50K)
Married men are those, whom `marital-status` starts with "Married". Others are not.

In [247]:
df.head(50)
married = df[df["marital-status"].str.contains("^married", case=False, regex=True) & (df["sex"] == "Male")]
not_married = df[~df["marital-status"].str.contains("^married", case=False, regex=True) & (df["sex"] == "Male")].dropna(subset=["marital-status"])
married_above_50K = married[married["salary"] == ">50K"]
married_b_eq_50K = married[married["salary"] == "<=50K"]
not_married_above_50K = not_married[not_married["salary"] == ">50K"]
not_married_b_eq_50K = not_married[not_married["salary"] == "<=50K"]
corr_married_above_to_total = len(married_above_50K) / len(married)
corr_married_b_eq_to_total = len(married_b_eq_50K) / len(married)
corr_not_married_above_to_total = len(not_married_above_50K) / len(not_married)
corr_not_married_b_eq_to_total = len(not_married_b_eq_50K) / len(not_married)
print(f"""
Topic: "Married vs non-married"
Statistically, for every unmarried man with a salary above 50K there are {round(corr_married_above_to_total / corr_not_married_above_to_total, 2)} married men, and for every married man with a salary below or equal to 50K there are {round(1 / (corr_married_b_eq_to_total / corr_not_married_b_eq_to_total), 2)} unmarried men.
""")

Topic: "Married vs non-married"
Statistically, for every unmarried man with a salary above 50K there are 5.21 married men, and for every married man with a salary below or equal to 50K there are 1.64 unmarried men.

# Task 8
Get the max hours per week some person works. How many people works the same amount of hours per week?

In [248]:
print(f"{len(df[df['hours-per-week'] == df['hours-per-week'].max()])} people works {df['hours-per-week'].max()} hours per week")
df.head()

85 people works 99 hours per week

,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K,39
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K,35
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K,27
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K,43
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K,25

In [249]:
df["workclass"].unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', nan, 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

# Task 9
Analyze the correlation between data in dataset. Understand connected fields in it and print highlight their connection.

In [330]:
# df.select_dtypes(include="number").corr()
new_df = df
new_df = new_df.dropna()
new_df["is govern worker"] = new_df["workclass"].apply(lambda x: 1 if "gov" in x.lower() else 0)
new_df["has HE"] = new_df["education"].apply(lambda x: 1 if x in ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"] else 0)
new_df["is married"] = new_df["marital-status"].apply(lambda x: 1 if x.lower().startswith("married") else 0)
new_df["is white"] = new_df["race"].apply(lambda x: 1 if x == "White" else 0)
new_df["is male"] = new_df["sex"].apply(lambda x: 1 if x == "Male" else 0)
new_df["from USA"] = new_df["native-country"].apply(lambda x: 1 if x == "United-States" else 0)
new_df = new_df.drop(columns=["workclass", "education", "marital-status", "occupation", "relationship", "race", "sex", "native-country", "salary"])



print("""
According to this correlation of data I can draw the following conclusion:
1. The older a person is, the more hours he works per week and the higher his salary.
2. Also, the older a person is, the more likely he/she is married.
3. People in marriages work quite a few more hours.
4. Men work more hours per week than women.
5. People with higher education also work more.
6. People with higher education earn more.
7. People who are married earn significantly more.
8. Men have noticeably higher salaries.
9. People working in government are slightly more likely to have a higher education than people in other professions.
10. We can also observe that men who are married are significantly more than single men.
11. We can also pick up on the fact that there are slightly more white people than other people in the US.
12. We may also notice that women are slightly more likely to work in government jobs than men.
""")
new_df.corr()

According to this correlation of data I can draw the following conclusion:
1. The older a person is, the more hours he works per week and the higher his salary.
2. Also, the older a person is, the more likely he/she is married.
3. People in marriages work quite a few more hours.
4. Men work more hours per week than women.
5. People with higher education also work more.
6. People with higher education earn more.
7. People who are married earn significantly more.
8. Men have noticeably higher salaries.
9. People working in government are slightly more likely to have a higher education than people in other professions.
10. We can also observe that men who are married are significantly more than single men.
11. We can also pick up on the fact that there are slightly more white people than other people in the US.
12. We may also notice that women are slightly more likely to work in government jobs than men.

C:\Users\eugene_larsson\AppData\Local\Temp\ipykernel_24884\1269380371.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["is govern worker"] = new_df["workclass"].apply(lambda x: 1 if "gov" in x.lower() else 0)
C:\Users\eugene_larsson\AppData\Local\Temp\ipykernel_24884\1269380371.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["has HE"] = new_df["education"].apply(lambda x: 1 if x in ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"] else 0)
C:\Users\eugene_larsson\AppData\Local\Temp\ipykernel_24884\1269380371.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["is married"] = new_df["marital-status"].apply(lambda x: 1 if x.lower().startswith("married") else 0)
C:\Users\eugene_larsson\AppData\Local\Temp\ipykernel_24884\1269380371.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["is white"] = new_df["race"].apply(lambda x: 1 if x == "White" else 0)
C:\Users\eugene_larsson\AppData\Local\Temp\ipykernel_24884\1269380371.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["is male"] = new_df["sex"].apply(lambda x: 1 if x == "Male" else 0)
C:\Users\eugene_larsson\AppData\Local\Temp\ipykernel_24884\1269380371.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["from USA"] = new_df["native-country"].apply(lambda x: 1 if x == "United-States" else 0)

,age,hours-per-week,salary K$,is govern worker,has HE,is married,is white,is male,from USA
age,1.000000,0.101599,0.208203,0.086136,0.078760,0.310553,0.026906,0.081993,0.016259
hours-per-week,0.101599,1.000000,0.196378,-0.015255,0.138793,0.221492,0.056404,0.231268,0.010673
salary K$,0.208203,0.196378,1.000000,0.045419,0.254759,0.375202,0.071669,0.182642,0.034000
is govern worker,0.086136,-0.015255,0.045419,1.000000,0.133984,0.009002,-0.061146,-0.045832,0.047206
has HE,0.078760,0.138793,0.254759,0.133984,1.000000,0.091111,0.045445,0.024537,0.011380
is married,0.310553,0.221492,0.375202,0.009002,0.091111,1.000000,0.097076,0.426348,-0.030453
is white,0.026906,0.056404,0.071669,-0.061146,0.045445,0.097076,1.000000,0.105148,0.192115
is male,0.081993,0.231268,0.182642,-0.045832,0.024537,0.426348,0.105148,1.000000,-0.003006
from USA,0.016259,0.010673,0.034000,0.047206,0.011380,-0.030453,0.192115,-0.003006,1.000000