In [2]:
import numpy as np
import pandas as pd

# Task 0
Read the dataset from csv file & perform data cleaning - remove all rows, which contains `?` in some columns.
Also check for data correctness (salary & salary $K).

In [35]:
df = pd.read_csv("../data/adult.csv")
df = df.replace("?", pd.NA).dropna()

incorrect_less_50K = df[(df["salary"] == "<=50K") & (df["salary K$"] > 50)]
incorrect_more_50K = df[(df["salary"] == ">50K") & (df["salary K$"] <= 50)]

incorrect_data = pd.concat([incorrect_less_50K, incorrect_more_50K])

if incorrect_data.empty:
    print("Data is correct")
else:
    print(f"Uncorrected data:{incorrect_data}")

Data is correct

# Task 1
Print the count of men and women in the dataset.

In [43]:
print(df["sex"].value_counts())

sex
Male      20380
Female     9782
Name: count, dtype: int64

# Task 2
Find the average age of men in dataset

In [46]:
average_age_men = df[df["sex"] == "Male"]["age"].mean()
print(average_age_men)

39.18400392541707

# Task 3
Get the percentage of people from Poland (native-country)

In [61]:
country_counts = df["native-country"].value_counts()
count_from_poland = country_counts.get("Poland", 0)
total_count = len(df)
percentage_from_poland = (count_from_poland / total_count) * 100
print(percentage_from_poland)

0.18566408063125786

# Task 4
Get the mean and standard deviation of the age for people who earn > 50K per year. After this, get it for those who earn <= 50K.

In [63]:
high_earners = df[df["salary"] == ">50K"]
mean_high = high_earners["age"].mean()
std_high = high_earners["age"].std()
print(f"For high earners - Mean: {mean_high}, Standard Deviation: {std_high}")

low_earners = df[df["salary"] == "<=50K"]
mean_low = low_earners["age"].mean()
std_low = low_earners["age"].std()
print(f"For low earners - Mean: {mean_low}, Standard Deviation: {std_low}")

For high earners - Mean: 43.95911028236548, Standard Deviation: 10.269632835673852
For low earners - Mean: 36.60806038668668, Standard Deviation: 13.464631257161633

# Task 5
Check, if there are some people without higher education (education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate), but with > 50K salary

In [64]:
higher_education = ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]
no_higher_education = df[~df["education"].isin(higher_education)]

high_salary_no_higher_education = no_higher_education[no_higher_education["salary"] == ">50K"]

if high_salary_no_higher_education.empty:
    print("No people without higher education with salary >50K.")
else:
    print(f"People without higher education with salary >50K. {high_salary_no_higher_education}")

People without higher education with salary >50K.        Unnamed: 0  age         workclass     education      marital-status  \
7               7   52  Self-emp-not-inc       HS-grad  Married-civ-spouse
10             10   37           Private  Some-college  Married-civ-spouse
55             55   43           Private  Some-college  Married-civ-spouse
67             67   53           Private       HS-grad  Married-civ-spouse
68             68   49      Self-emp-inc  Some-college  Married-civ-spouse
...           ...  ...               ...           ...                 ...
32462       32462   48      Self-emp-inc       HS-grad  Married-civ-spouse
32518       32518   57         Local-gov       HS-grad  Married-civ-spouse
32519       32519   46           Private  Some-college  Married-civ-spouse
32557       32557   40           Private       HS-grad  Married-civ-spouse
32560       32560   52      Self-emp-inc       HS-grad  Married-civ-spouse

              occupation relationship   race     sex  hours-per-week  \
7        Exec-managerial      Husband  White    Male              45
10       Exec-managerial      Husband  Black    Male              80
55          Tech-support      Husband  White    Male              40
67          Adm-clerical         Wife  White  Female              40
68       Exec-managerial      Husband  White    Male              50
...                  ...          ...    ...     ...             ...
32462       Craft-repair      Husband  White    Male              50
32518       Craft-repair      Husband  White    Male              40
32519    Exec-managerial      Husband  White    Male              48
32557  Machine-op-inspct      Husband  White    Male              40
32560    Exec-managerial         Wife  White  Female              40

      native-country salary  salary K$
7      United-States   >50K        307
10     United-States   >50K        116
55     United-States   >50K        341
67     United-States   >50K        225
68     United-States   >50K        194
...              ...    ...        ...
32462  United-States   >50K        343
32518  United-States   >50K        116
32519  United-States   >50K        239
32557  United-States   >50K        173
32560  United-States   >50K        243

[3178 rows x 13 columns]

# Task 6
Get the statistics of age for each type of education. Use `groupby` and `describe` for this.

In [67]:
education_age_stats = df.groupby("education")["age"].describe()
print(education_age_stats)

               count       mean        std   min   25%   50%   75%   max
education
10th           820.0  37.897561  16.225795  17.0  23.0  36.0  52.0  90.0
11th          1048.0  32.363550  15.089307  17.0  18.0  28.5  43.0  90.0
12th           377.0  32.013263  14.373710  17.0  19.0  28.0  41.0  79.0
1st-4th        151.0  44.622517  14.929051  19.0  33.0  44.0  56.0  81.0
5th-6th        288.0  41.649306  14.754622  17.0  28.0  41.0  53.0  82.0
7th-8th        557.0  47.631957  15.737479  17.0  34.0  49.0  60.0  90.0
9th            455.0  40.303297  15.335754  17.0  28.0  38.0  53.0  90.0
Assoc-acdm    1008.0  37.286706  10.509755  19.0  29.0  36.0  44.0  90.0
Assoc-voc     1307.0  38.246366  11.181253  19.0  30.0  37.0  45.0  84.0
Bachelors     5044.0  38.641554  11.577566  19.0  29.0  37.0  46.0  90.0
Doctorate      375.0  47.130667  11.471727  24.0  39.0  47.0  54.0  80.0
HS-grad       9840.0  38.640955  13.067730  17.0  28.0  37.0  48.0  90.0
Masters       1627.0  43.740012  10.735356  18.0  36.0  43.0  50.0  90.0
Preschool       45.0  41.288889  15.175672  19.0  30.0  40.0  53.0  75.0
Prof-school    542.0  44.249077  11.428098  25.0  36.0  43.0  50.0  90.0
Some-college  6678.0  36.135370  13.073528  17.0  25.0  35.0  45.0  90.0

# Task 7
Compare the married and non-married men salaries. Who earns more? (>50K or <=50K)
Married men are those, whom `marital-status` starts with "Married". Others are not.

In [70]:
men = df[df["sex"] == "Male"]

married_men = men[men["marital-status"].str.startswith("Married")]
non_married_men = men[~men["marital-status"].str.startswith("Married")]

married_high_earners = married_men[married_men["salary"] == ">50K"].shape[0]
married_low_earners = married_men[married_men["salary"] == "<=50K"].shape[0]

non_married_high_earners = non_married_men[non_married_men["salary"] == ">50K"].shape[0]
non_married_low_earners = non_married_men[non_married_men["salary"] == "<=50K"].shape[0]

print(f"Number of married men with salary >50K: {married_high_earners}")
print(f"Number of married men with salary <=50K: {married_low_earners}\n")

print(f"Number of non-married men with salary >50K: {non_married_high_earners}")
print(f"Number of non-married men with salary <=50K: {non_married_low_earners}")

# Compare
if married_high_earners > non_married_high_earners:
    print("Married men earn more than non-married men.")
elif married_high_earners < non_married_high_earners:
    print("Non-married men earn more than married men.")
else:
    print("The number of married and non-married men earning >50K is the same.")

Number of married men with salary >50K: 5723
Number of married men with salary <=50K: 7052

Number of non-married men with salary >50K: 673
Number of non-married men with salary <=50K: 6932
Married men earn more than non-married men.

# Task 8
Get the max hours per week some person works. How many people works the same amount of hours per week?

In [71]:
max_hours = df["hours-per-week"].max()
num_people_max_hours = df[df["hours-per-week"] == max_hours].shape[0]

print(f"Number of people working {max_hours} hours per week: {num_people_max_hours}")

Number of people working 99 hours per week: 78

# Task 9
Analyze the correlation between data in dataset. Understand connected fields in it and print highlight thier connection.

In [75]:
pd.get_dummies(df).corr()

,Unnamed: 0,age,hours-per-week,salary K$,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,...,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,salary_<=50K,salary_>50K
Unnamed: 0,1.000000,-0.001126,-0.001890,0.000129,0.000275,-0.000933,0.005641,-0.003275,-0.006005,-0.001250,...,0.002413,-0.003646,-0.005262,-0.002669,0.007442,0.001993,-0.000928,0.004350,-0.006244,0.006244
age,-0.001126,1.000000,0.101599,0.208203,0.056626,0.068256,-0.210491,0.111039,0.150429,0.014805,...,0.000024,0.001923,-0.007879,-0.004940,0.007868,0.016259,-0.017775,0.000657,-0.241998,0.241998
hours-per-week,-0.001890,0.101599,1.000000,0.196378,0.005229,0.001612,-0.095533,0.126254,0.087835,-0.032976,...,0.000689,0.014328,-0.000305,0.012846,-0.007566,0.010673,-0.010381,0.006983,-0.229480,0.229480
salary K$,0.000129,0.208203,0.196378,1.000000,0.050512,0.025856,-0.098187,0.119222,0.019587,0.002678,...,-0.001498,-0.006514,0.016939,-0.000891,-0.003442,0.034000,-0.014737,0.008560,-0.853894,0.853894
workclass_Federal-gov,0.000275,0.056626,0.005229,0.050512,1.000000,-0.048728,-0.302194,-0.034520,-0.053995,-0.037804,...,-0.003431,-0.004795,-0.006708,-0.004266,-0.004390,0.017541,-0.000004,-0.004139,-0.057394,0.057394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
native-country_United-States,0.001993,0.016259,0.010673,0.034000,0.017541,0.032937,-0.049809,0.007350,0.014520,0.025370,...,-0.061442,-0.156254,-0.120121,-0.076390,-0.078606,1.000000,-0.148334,-0.074108,-0.040204,0.040204
native-country_Vietnam,-0.000928,-0.017775,-0.010381,-0.014737,-0.000004,-0.003952,0.009369,-0.004973,-0.003405,-0.006128,...,-0.000881,-0.002240,-0.001722,-0.001095,-0.001127,-0.148334,1.000000,-0.001062,0.018215,-0.018215
native-country_Yugoslavia,0.004350,0.000657,0.006983,0.008560,-0.004139,-0.000550,0.003861,0.003343,-0.001701,-0.004848,...,-0.000440,-0.001119,-0.000860,-0.000547,-0.000563,-0.074108,-0.001062,1.000000,-0.006718,0.006718
salary_<=50K,-0.006244,-0.241998,-0.229480,-0.853894,-0.057394,-0.028673,0.117218,-0.137646,-0.025575,-0.009752,...,0.002964,0.005812,-0.017571,0.003979,0.007788,-0.040204,0.018215,-0.006718,1.000000,-1.000000
salary_>50K,0.006244,0.241998,0.229480,0.853894,0.057394,0.028673,-0.117218,0.137646,0.025575,0.009752,...,-0.002964,-0.005812,0.017571,-0.003979,-0.007788,0.040204,-0.018215,0.006718,-1.000000,1.000000