In [ ]:
import numpy as np
import pandas as pd

# Task 0
Read the dataset from csv file & perform data cleaning - remove all rows, which contains `?` in some columns.
Also check for data correctness (salary & salary $K).

In [43]:
data = pd.read_csv("../data/adult.csv")
df = pd.DataFrame(data)
df = df[(df["workclass"] != "?") & (df["occupation"] != "?") & (df["native-country"] != "?")]

total_rows = len(df)

# Check if salaries doesn't match
# df[(df["salary"] == ">50K") & (df["salary K$"] <= 50)]
# df[(df["salary"] == "<=50K") & (df["salary K$"] > 50)]

df

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
0,0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K,39
1,1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K,35
2,2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K,27
3,3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K,43
4,4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,32556,27,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,38,United-States,<=50K,36
32557,32557,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K,173
32558,32558,58,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,40,United-States,<=50K,40
32559,32559,22,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,20,United-States,<=50K,38
32560,32560,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K,243

# Task 1
Print the count of men and women in the dataset.

In [36]:
print("Male:", len(df[df["sex"] == "Male"]))
print("Female:", len(df[df["sex"] == "Female"]))

Male: 20380
Female: 9782

# Task 2
Find the average age of men in dataset

In [41]:
df[df["sex"] == "Male"]["age"].mean()

39.18400392541707

# Task 3
Get the percentage of people from Poland (native-country)

In [50]:
print(f"{round(len(df[df["native-country"] == "Poland"]) / total_rows * 100, 4)}%")

0.1857%

# Task 4
Get the mean and standard deviation of the age for people who earn > 50K per year. After this, get it for those who earn <= 50K.

In [60]:
high_salaries_age = df[df["salary"] == ">50K"]["age"]
print("Mean age:", high_salaries_age.mean())
print("Standard Deviation age:", high_salaries_age.std())

Mean age: 43.95911028236548
Standard Deviation age: 10.269632835673852

In [58]:
low_salaries_age = df[df["salary"] == "<=50K"]["age"]
print("Mean age:", low_salaries_age.mean())
print("Standard Deviation age:", low_salaries_age.std())

Mean age: 36.60806038668668
Standard Deviation age: 13.464631257161633

# Task 5
Check, if there are some people without higher education (education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate), but with > 50K salary

In [66]:
values = ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]
df[(~df["education"].isin(values)) & (df["salary"] == ">50K")]

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
7,7,52,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,>50K,307
10,10,37,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,Black,Male,80,United-States,>50K,116
55,55,43,Private,Some-college,Married-civ-spouse,Tech-support,Husband,White,Male,40,United-States,>50K,341
67,67,53,Private,HS-grad,Married-civ-spouse,Adm-clerical,Wife,White,Female,40,United-States,>50K,225
68,68,49,Self-emp-inc,Some-college,Married-civ-spouse,Exec-managerial,Husband,White,Male,50,United-States,>50K,194
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32462,32462,48,Self-emp-inc,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,50,United-States,>50K,343
32518,32518,57,Local-gov,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,>50K,116
32519,32519,46,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,White,Male,48,United-States,>50K,239
32557,32557,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K,173
32560,32560,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K,243

# Task 6
Get the statistics of age for each type of education. Use `groupby` and `describe` for this.

In [70]:
df.groupby("education")["age"].describe()

               count       mean        std   min   25%   50%   75%   max
education
10th           820.0  37.897561  16.225795  17.0  23.0  36.0  52.0  90.0
11th          1048.0  32.363550  15.089307  17.0  18.0  28.5  43.0  90.0
12th           377.0  32.013263  14.373710  17.0  19.0  28.0  41.0  79.0
1st-4th        151.0  44.622517  14.929051  19.0  33.0  44.0  56.0  81.0
5th-6th        288.0  41.649306  14.754622  17.0  28.0  41.0  53.0  82.0
7th-8th        557.0  47.631957  15.737479  17.0  34.0  49.0  60.0  90.0
9th            455.0  40.303297  15.335754  17.0  28.0  38.0  53.0  90.0
Assoc-acdm    1008.0  37.286706  10.509755  19.0  29.0  36.0  44.0  90.0
Assoc-voc     1307.0  38.246366  11.181253  19.0  30.0  37.0  45.0  84.0
Bachelors     5044.0  38.641554  11.577566  19.0  29.0  37.0  46.0  90.0
Doctorate      375.0  47.130667  11.471727  24.0  39.0  47.0  54.0  80.0
HS-grad       9840.0  38.640955  13.067730  17.0  28.0  37.0  48.0  90.0
Masters       1627.0  43.740012  10.735356  18.0  36.0  43.0  50.0  90.0
Preschool       45.0  41.288889  15.175672  19.0  30.0  40.0  53.0  75.0
Prof-school    542.0  44.249077  11.428098  25.0  36.0  43.0  50.0  90.0
Some-college  6678.0  36.135370  13.073528  17.0  25.0  35.0  45.0  90.0

# Task 7
Compare the married and non-married men salaries. Who earns more? (>50K or <=50K)
Married men are those, whom `marital-status` starts with "Married". Others are not.

In [86]:
# I thought mean would be more describable parameter in this case
df[df["marital-status"].str.startswith("Married")]["salary K$"].mean()

107.3532097399004

In [87]:
df[~df["marital-status"].str.startswith("Married")]["salary K$"].mean()

43.240927034254426

# Task 8
Get the max hours per week some person works. How many people works the same amount of hours per week?

In [91]:
max_hours_per_week = df["hours-per-week"].max()
max_hours_per_week

99

In [96]:
df[df["hours-per-week"] == max_hours_per_week]

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
935,935,37,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,99,United-States,>50K,274
1172,1172,25,Private,Masters,Married-civ-spouse,Farming-fishing,Not-in-family,White,Male,99,United-States,>50K,207
1887,1887,55,Self-emp-not-inc,Some-college,Married-civ-spouse,Farming-fishing,Husband,White,Male,99,United-States,>50K,188
3578,3578,37,Self-emp-inc,Doctorate,Married-civ-spouse,Prof-specialty,Husband,Black,Male,99,United-States,>50K,136
4308,4308,35,Self-emp-not-inc,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,99,United-States,<=50K,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30754,30754,31,Private,Prof-school,Never-married,Prof-specialty,Not-in-family,White,Female,99,United-States,<=50K,31
30766,30766,42,Self-emp-not-inc,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,99,United-States,>50K,290
30992,30992,40,Self-emp-inc,Masters,Never-married,Other-service,Own-child,White,Male,99,United-States,<=50K,48
31681,31681,43,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,99,United-States,>50K,237
31699,31699,43,Self-emp-not-inc,Some-college,Married-civ-spouse,Farming-fishing,Husband,White,Male,99,United-States,<=50K,40

# Task 9
Analyze the correlation between data in dataset. Understand connected fields in it and print highlight thier connection.

In [98]:
df.corr(numeric_only=True)

'''
With this correlation, we observe a mild age -> hours per week connection, which means that the older a person gets, on average, the more they work. 

Secondly, there's a salary-to-age correlation, which is stronger and means that the older a person gets, the higher the salary they will receive, on average. 

Thirdly, which is bound to the first two connections, is the salary-to-hours-per-week correlation. This means that the more hours an average person works, the more they will earn. 

Other fields don't have significant meaning or value.
'''

                Unnamed: 0       age  hours-per-week  salary K$
Unnamed: 0        1.000000 -0.001126       -0.001890   0.000129
age              -0.001126  1.000000        0.101599   0.208203
hours-per-week   -0.001890  0.101599        1.000000   0.196378
salary K$         0.000129  0.208203        0.196378   1.000000