In [2]:
import numpy as np
import pandas as pd

# Task 0
Read the dataset from csv file & perform data cleaning - remove all rows, which contains `?` in some columns.
Also check for data correctness (salary & salary $K).

In [3]:
# write your code for task 0
data = pd.read_csv("C:\\Users\\stepk\\PycharmProjects\\py-adult-data-analysis\\data\\adult.csv")
data

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
0,0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K,39
1,1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K,35
2,2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K,27
3,3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K,43
4,4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,32556,27,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,38,United-States,<=50K,36
32557,32557,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K,173
32558,32558,58,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,40,United-States,<=50K,40
32559,32559,22,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,20,United-States,<=50K,38
32560,32560,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K,243

# Task 1
Print the count of men and women in the dataset.

In [28]:
# write your code for task 1 here
data[data["sex"] == "Male"].count()[0]
data[data["sex"] == "Female"].count()[0]

10771

# Task 2
Find the average age of men in dataset

In [17]:
# write your code for task 2 here
average_age_m = np.mean(data[data["sex"] == "Male"]["age"])
average_age_m

39.43354749885268

# Task 3
Get the percentage of people from Poland (native-country)

In [26]:
# write your code for task 3 here
from_poland = data[data["native-country"] == "Poland"].count()
from_poland[0]

60

# Task 4
Get the mean and standard deviation of the age for people who earn > 50K per year. After this, get it for those who earn <= 50K.

In [35]:
# write your code for task 4 here
np.std(data[data["salary"] == ">50K"]["age"])
np.std(data[data["salary"] == "<=50K"]["age"])

14.019804910115282

# Task 5
Check, if there are some people without higher education (education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate), but with > 50K salary

In [62]:
# write your code for task 5 here
# Task 5
# Task 5
data[(~data["education"].isin(["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"])) & (data["salary"] == ">50K")]

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
7,7,52,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,>50K,307
10,10,37,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,Black,Male,80,United-States,>50K,116
27,27,54,?,Some-college,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,60,South,>50K,275
38,38,31,Private,Some-college,Married-civ-spouse,Sales,Husband,White,Male,38,?,>50K,166
55,55,43,Private,Some-college,Married-civ-spouse,Tech-support,Husband,White,Male,40,United-States,>50K,341
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32510,32510,39,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,45,?,>50K,212
32518,32518,57,Local-gov,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,>50K,116
32519,32519,46,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,White,Male,48,United-States,>50K,239
32557,32557,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K,173
32560,32560,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K,243

# Task 6
Get the statistics of age for each type of education. Use `groupby` and `describe` for this.

In [89]:
# write your code for task 6 here
data.groupby(data["age"]).describe()

    Unnamed: 0                                                          \
         count          mean           std      min       25%      50%
age
17       395.0  16941.169620   9431.245980    106.0   9812.00  17486.0
18       550.0  16752.380000   9530.167536     51.0   8505.25  16620.0
19       712.0  16226.092697   9370.107689     26.0   7778.50  16237.5
20       753.0  15687.556441   9502.643926     31.0   7308.00  15011.0
21       720.0  16604.500000   9226.748861     36.0   8450.50  16943.5
..         ...           ...           ...      ...       ...      ...
85         3.0  20434.333333  12039.025597   8381.0  14422.00  20463.0
86         1.0  24027.000000           NaN  24027.0  24027.00  24027.0
87         1.0  31432.000000           NaN  31432.0  31432.00  31432.0
88         3.0  15299.333333  12249.564741   1168.0  11501.50  21835.0
90        43.0  14164.860465   9268.002858    222.0   5819.00  12451.0

                       hours-per-week             ...             salary K$  \
          75%      max          count       mean  ...   75%   max     count
age                                               ...
17   25022.50  32447.0          395.0  21.367089  ...  26.0  48.0     395.0
18   25053.00  32496.0          550.0  25.912727  ...  35.0  72.0     550.0
19   24358.75  32437.0          712.0  30.678371  ...  40.0  99.0     712.0
20   23871.00  32512.0          753.0  32.280212  ...  40.0  84.0     753.0
21   24250.50  32478.0          720.0  34.034722  ...  40.0  98.0     720.0
..        ...      ...            ...        ...  ...   ...   ...       ...
85   26461.00  32459.0            3.0  29.333333  ...  42.5  50.0       3.0
86   24027.00  24027.0            1.0  40.000000  ...  40.0  40.0       1.0
87   31432.00  31432.0            1.0   2.000000  ...   2.0   2.0       1.0
88   22365.00  22895.0            3.0  40.000000  ...  40.0  40.0       3.0
90   19618.00  32367.0           43.0  36.813953  ...  40.0  99.0      43.0


          mean        std   min   25%   50%   75%    max
age
17   32.303797   9.696609  15.0  24.0  32.0  40.0   49.0
18   31.109091  10.121255  15.0  22.0  31.0  40.0   49.0
19   32.029494  13.470308  15.0  23.0  31.0  41.0  267.0
20   32.185923  10.131579  15.0  23.0  33.0  41.0   49.0
21   32.316667  17.503816  15.0  23.0  31.0  41.0  305.0
..         ...        ...   ...   ...   ...   ...    ...
85   33.000000  11.789826  23.0  26.5  30.0  38.0   46.0
86   39.000000        NaN  39.0  39.0  39.0  39.0   39.0
87   32.000000        NaN  32.0  32.0  32.0  32.0   32.0
88   24.333333  10.214369  17.0  18.5  20.0  28.0   36.0
90   71.441860  91.854259  17.0  24.5  38.0  44.0  335.0

[73 rows x 24 columns]

# Task 7
Compare the married and non-married men salaries. Who earns more? (>50K or <=50K)
Married men are those, whom `marital-status` starts with "Married". Others are not.

In [120]:
# write your code for task 7 here
married = np.mean(data[data["marital-status"].str.startswith("Married")]["salary K$"])
non_married = np.mean(data[~data["marital-status"].str.startswith("Married")]["salary K$"])
non_married, \
    married

(42.71762715818945, 105.98735162482973)

# Task 8
Get the max hours per week some person works. How many people works the same amount of hours per week?

In [127]:
# write your code for task 8 here
data[data['hours-per-week'] == np.max(data['hours-per-week'])].count()[0]

85

# Task 9
Analyze the correlation between data in dataset. Understand connected fields in it and print highlight thier connection.

In [129]:
# write your code for task 9 here
data.corr()
print("Salary increases with age and hours per week")
print("hours per week increases with age")

                Unnamed: 0       age  hours-per-week  salary K$
Unnamed: 0        1.000000  0.001286        0.000607  -0.001666
age               0.001286  1.000000        0.068756   0.201774
hours-per-week    0.000607  0.068756        1.000000   0.196916
salary K$        -0.001666  0.201774        0.196916   1.000000